[2016-08-24 18:12] mike-ward opened #1 "Ideas, Observations"
Just started using this. Awesome idea. Couple of use issues.

- `#HSLIDE/#VSLIDE` are strange separators. It looks like a header in markdown previews. Suggest something more compact like `--` for horizontal, `++` for vertical (see jdan/cleaver).
- Doesn't recognize setext headers.
- `PITCHME.md` file name is case sensitive.
- In general, you should be able to run a `pitchme.md` file through Pandoc

[2016-08-25 08:56] gitpitch commented on #1
Thanks @mike-ward, great feedback, much appreciated. I'm working on support for user-defined custom delimiters via PITCHME.yaml. The goal being to make PITCHME.md compatible with any Markdown editor, including your own cool creation, mike-ward/Markdown-Edit. I'll have something for you to try out in a couple of days. I'll update this thread once that support goes live.

[2016-08-25 09:50] martbhell opened #2 "How to set no border on images?"
I'm not a fan of the black border around the images. Is there a way to disable it?

I'd like to do this especially for logos on a white background.

[2016-08-25 12:51] mike-ward opened #3 "Slide content alignment types"
Slides are currently centered.

Is there a way to get the classic:

[code]
Again. look to jdan/cleaver for inspiration on how they do this.

[2016-08-25 12:53] mike-ward opened #4 "Override link to repository in presentation"
Use case:

I use a separate repo for my `gh-pages` site for http://markdownedit.com (mike-ward/mde-site). It's easier than switching branches and waiting for Git to resync.

[2016-08-25 16:23] gitpitch commented on #2
Hi @martbhell disabling border styling on images is not currently supported but a broader feature that will permit overriding default styling (including things like image borders) is planned and should be available as early as next week. I'll update this thread once that feature goes live.

[2016-08-25 16:25] gitpitch commented on #3
Hi @mike-ward changing alignment on slides is not currently supported but a broader feature that will permit overriding default styling (including things like alignment) is planned and should be available as early as next week. I'll update this thread once that feature goes live.

[2016-08-25 16:37] gitpitch commented on #4
Need a little more info here. Override what link exactly? I'm also not sure I have enough context to understand what you mean by "It's easier than switching branches and waiting for Git to resync"?

You can add a link on any slide that links to external sites etc. You can even have those links open up in another browser window rather than redirect away from your slideshow, see the [HTML Slides](ht

[2016-08-25 16:51] mike-ward commented on #4
In the presentations in the lower right corner. Thought it was a link but it's just text.

![image](https://cloud.githubusercontent.com/assets/567927/17978136/9d9033a2-6ac2-11e6-9526-f941f42e6859.png)

[2016-08-25 18:00] martbhell commented on #2
Great, login forward to it!

[2016-08-27 08:13] gitpitch commented on #2
Check out the new Wiki documentation on [Slideshow Custom CSS](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS) for GitPitch presentations. This new feature gives you a lot of power to customize the look and feel of your slideshows, including the ability to remove borders around images.

[2016-08-27 08:15] gitpitch commented on #3
Check out the new Wiki documentation on [Slideshow Custom CSS](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS) for GitPitch presentations. This new feature gives you a lot of power to customize the look and feel of your slideshows, including the ability to customize the alignment of content on your slides.

[2016-08-27 08:17] gitpitch commented on #4
I'm going to close out this issue as not and issue for now. Feel free to open it again with additional info if you feel your concern has not been fully addressed.

[2016-08-27 08:17] #4 closed

[2016-08-28 14:26] gitpitch commented on #1
@mike-ward  check out the new support for [Custom Slide Delimiters](https://github.com/gitpitch/gitpitch/wiki/Custom-Slide-Delimiters) for your slideshow presentations. You can now use PITCHME.yaml to set custom delimiters to make GitPitch compatible with any Markdown editor.

[2016-08-28 14:40] mike-ward commented on #1
Yep, that works better.

[2016-08-29 01:34] gitpitch commented on #1
Glad to hear it. So you also mentioned that GitPitch doesn't recognize setext headers. I created a simple presentation using the following Markdown:

[code]

And the slide appeared to render just fine as follows:
![setext-header](https://cloud.githubusercontent.com/assets/19169584/18038470/d12e0808-6dc2-11e6-9246-21c85f989470.png)

Can you please point me at a sample GitPitch that demonstrates the

[2016-08-29 03:03] gitpitch opened #5 "GA token rendering in view template broken."
Rendering of the GA token in it's Twirl view template is broken, needs quotes.

[2016-08-29 03:08] #5 closed

[2016-08-29 07:02] martbhell commented on #2
Thanks! That did the trick :)

[2016-08-29 07:02] #2 closed

[2016-08-29 14:55] mike-ward commented on #1
Seems to be working now for me as well.

By the way, The links to the example slide shows (like Kitchen Sink) don't work for me.

[2016-08-29 15:03] gitpitch commented on #1
Are you referring to the links to the example slide shows on the https://gitpitch.com website? Have you tried to click directly on the icon in the centre of the circle above each named example?

[2016-08-29 15:24] gitpitch commented on #1
The set of links to the examples on the website have been simplified, to ensure from this point forward they just work. Thanks for pointing out this problem @mike-ward

[2016-08-29 15:44] mike-ward commented on #1
The mouse pointer changes to a pointer indicating you can click when hovering over the example regions. It does work if you click on the icon but the feedback from the mouse cursor says I can click elsewhere.

[2016-08-29 15:56] gitpitch commented on #1
Refresh/reload the website in your browser and you'll see we now have new simplified style of links to the example slideshows. No icons or regions, just straightforward links. Thanks again for bringing this to my attention.

[2016-08-30 16:23] gitpitch commented on #1
@mike-ward I believe the last remaining open item on this thread is the following:

Now that you can customize slideshow delimiters can you successfully reformat your PITCHME.md files using Pandoc? Also for the record, can you share the Pandoc command you were using to perform this type of reformatting? Thanks.

[2016-08-30 16:40] mike-ward commented on #1
I use Markdown Edit to reformat documents which, uses Pandoc. You can look at the source for the options. Use `Alt-F` on your documents.

[2016-08-31 15:20] #1 closed

[2016-09-08 15:07] gitpitch commented on #3
Left aligned slide content now supported by [Slideshow Custom CSS](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS). Issue resolved, closing.

[2016-09-08 15:07] #3 closed

[2016-09-13 14:29] koffisani opened #6 "Displaying images in GitPitch"
Please, can somebody let me know how to display successfully images in gitPitch ? Take a look at this PITCHME.md https://gitpitch.com/koffisani/github-rep-for-iai/pitchme

[2016-09-13 14:57] gitpitch commented on #6
Hi @koffisani if you want to display an image on any slide and that images lives in the `img` directory within your git repo, you can just use a relative path to the image when you declare your image in your PITCHME.md markdown file. For example:

[code]

I can see from your sample PITCHME.md that you are using absolute URLs to the blob. Try changing your markdown to use relative paths as indicate

[2016-09-13 16:34] koffisani commented on #6
Thanks, @gitpitch. Right.

[2016-09-13 16:34] #6 closed

[2016-09-28 06:50] jroper opened #7 "Theme overrides stylesheet should not be HTML escaped"
The theme overrides stylesheet is embedded directly inside the generated HTML page for the presentation.  This is fine, except that it is HTML escaped.  Content inside style tags should not be HTML escaped, escaping it means selectors like `ul > li` break.

[2016-09-28 07:11] gitpitch commented on #7
Thanks for reporting this @jroper Can you point me at an example slideshow (using your custom css) that exhibits this problem?

[2016-09-28 07:26] jroper commented on #7
https://gitpitch.com/pitchme/slideshow/github/jroper/microservices-architecture/master?t=white

Note in the head:

[code]

The `&gt;` shouldn't be escaped, it should be `>`.

[2016-09-28 07:28] jroper commented on #7
The effect of this is that that style doesn't get applied, which means the images in my presentation aren't stacked on top of each other (which is the effect of that styling when applied correctly).  They're meant to appear effectively as an animation.

[2016-09-28 07:31] gitpitch commented on #7
Thanks for the detailed feedback @jroper. I'll look into this and update the thread just as soon as I have something concrete for you.

[2016-09-28 13:33] gitpitch commented on #7
Custom css is now handled as an external stylesheet rather than as an embedded style. This prevents the type of escaping problems described here. A patch has been pushed live on [GitPitch.com](https://gitpitch.com). @jroper I like [your slideshow animations](https://gitpitch.com/jroper/microservices-architecture). If you can confirm your slideshow is now functioning as expected can you please clos

[2016-09-29 00:01] jroper commented on #7
I can confirm it's fixed, thanks!

[2016-09-29 00:01] #7 closed

[2016-09-29 02:08] jroper opened #9 "Background images are not in offline export"
See the offline export of http://gitpitch.com/jroper/microservices-architecture as an example.

[2016-09-29 10:01] gitpitch opened #10 "Reduce cache interval for print and offline bundles on features branches."
Currently printing and downloading offline bundles share a 20 minute cache interval on both master and feature branches. For dev purposes it would be more appropriate for short cache intervals on branches so slideshow authors can more quickly see their changes.

[2016-09-29 14:03] gitpitch commented on #9
Thanks for reporting this issue. A subtle caching bug was causing intermittent problems which resulted in offline slideshows sometimes failing to render background images. This issue has been resolved by commit b294a7c. And this change has been pushed live to [GitPitch.com](https://gitpitch.com).

@jroper [here is a link to your slideshow](https://gitpitch.com/jroper/microservices-architecture/8b7

[2016-09-29 14:11] gitpitch commented on #10
Resolved by commit b212f66.

[2016-09-29 14:11] #10 closed

[2016-10-03 08:41] #9 closed

[2016-10-03 08:43] gitpitch opened #11 "Handling background-size YAML option unsafe when PITCHME.yaml unspecified."
Support for the new `background-size` YAML option assumes `yOpts` is non-null which is not the case when PITCHME.yaml is unspecified. Must test for `yOpts` existence before use.

[2016-10-03 08:45] #11 closed

[2016-10-05 11:33] chendachao opened #12 "Git repo not found on GitHub"
When I open https://gitpitch.com/onetabbeyond/opencpu-spark-executor#, it shows below issue. DO you have any ideas?
![capture](https://cloud.githubusercontent.com/assets/18575321/19111518/8d0493f8-8b32-11e6-88d9-524370e1bef9.PNG)

[2016-10-05 12:47] gitpitch commented on #12
Hi @chendachao you have a small typo in the URL. The correct URL for that slideshow is:

[https://gitpitch.com/onetapbeyond/opencpu-spark-executor](https://gitpitch.com/onetapbeyond/opencpu-spark-executor)

Notice, that is `tap` not `tab` in the word `onetapbeyond`.

[2016-10-05 12:49] gitpitch commented on #12
@chendachao can I ask, where did you get that broken URL? If the broken URL is used somewhere in documentation about GitPitch can you please let me know so I can fix the link. Thanks.

[2016-10-05 16:44] SukharevAndrey opened #13 "Math formula are garbage rendered in PDF"
None of math formula are rendered correctly when exported to PDF:
![garbage_math](https://cloud.githubusercontent.com/assets/3942904/19122637/1464eb12-8b34-11e6-9627-781ca140845d.png)
This can be at least reproduced in Google Chrome and Adobe Reader on Windows 10.

[2016-10-06 03:45] gitpitch opened #14 "Add support for HTML img tags directly in PITCHME.md."
RFE to support HTML `<img>` tags within online and offline presentations. Can be useful sometimes to have control over - customize image properties/styling using HTML tag rather than plain Markdown `![]()` image syntax.

For example:

[code]

[2016-10-06 04:40] gitpitch commented on #13
Hi @SukharevAndrey thanks for reporting this issue. I believe the problem may be due numerous embedded videos in the Kitchen Sink presentation. These interfere (causing timeouts) when printing. I believe if you try a regular presentation (without video content) your math formulas will render correctly online, offline and in PDF.

See this sample presentation for details:

[MathJax - Feature Demo](

[2016-10-06 06:27] SukharevAndrey commented on #13
@gitpitch
It renders, but uses ugly font:
![garbage_2](https://cloud.githubusercontent.com/assets/3942904/19142558/f0ccb4e6-8ba6-11e6-95f1-35ba7b38d26f.png)

[2016-10-06 08:20] gitpitch commented on #13
@SukharevAndrey I've been looking into this and I'm seeing differences in the quality of output generated on the GitPitch dev server (OSX) and the GitPitch production server (Ubuntu). On OSX I'm seeing high quality output where these math formulas look like this:

![mathjax-osx](https://cloud.githubusercontent.com/assets/19169584/19145222/3cb8a316-8bd8-11e6-9646-5eae401624b8.png)

This is a work-i

[2016-10-06 08:26] gitpitch commented on #14
Feature implemented and resolved by commit 315b6de1d56c306f385c78ebebdede28e5e331a0

[2016-10-06 08:26] #14 closed

[2016-10-07 09:47] pmsudhi opened #15 "Configuring gitpitch on ubuntu"
Hi,
After configuring and starting the application, when i browse to my server http://localhost:9000, it gives me a messageBad Request, Host not allowed error. my application logs says ,successfully started and listening on /0:0:0:0:0:0:0:0:9000.

After making build, i have done following changes
1. Changed Secret Key
2. Made gitlab as my default and set the API key.

Both gitlab and gitpitch is r

[2016-10-07 10:09] gitpitch commented on #15
Hi @pmsudhi the GitPitch server does respond on the `http://localhost:9000` endpoint. You should test your installation using a valid  slideshow presentation endpoint as described in the [build instructions](https://github.com/gitpitch/gitpitch/wiki/Server-Build-Instructions).

For example, it recommends testing the following endpoint immediately after your GitPitch server starts up:

[code]

Have

[2016-10-07 10:56] pmsudhi commented on #15
Hi, Thanks for super quick response.
when I do http://localhost:9000/gitpitch/kitchen-sink, it seems working and i can see output as in localhost.png

But When I do the same url with machine name instead of localhost, iam getting error "host not allowed" as in machname.png.

The console log not showing any additional entries while iam calling with machine name. The only entries i can see here is a

[2016-10-07 11:04] gitpitch commented on #15
Using `localhost` will almost always work by default for a local installation, however using `hostname` requires that the `hostname` be mapped to a valid IP address, typically something you would do in your `/etc/hosts` file. If you're not familiar with this you may need to talk to a sys admin.

For your testing purposes I suggest you stick with `localhost`. The screenshot you have shared tells me

[2016-10-07 11:10] pmsudhi commented on #15
Hi, hostname is mapped to valid Ip address. since my gitlab is also hosted on same machine with default port, when i type http://machinename, i can open the page.
Do I need to change anything at allowedorigins tag in application config file?

[2016-10-07 11:12] gitpitch commented on #15
My advice for initial testing you should comment out the `allowedOrigins` property in the application.conf file. If that works, then try adding your `hostname` to the array and test again.

[2016-10-07 11:19] pmsudhi commented on #15
Commenting out _allowedOrigins_ doesn't help. Also when i go through the console log i can see that system is able to resolve name(http://waspsource/api/v3/projects/gitpitch%2Fkitchen-sink) and able to call gitlab API

`2016-10-07 16:44:21,965 main [info] c.g.g.GRSManager - activating: GitHub, type=github, default=false
2016-10-07 16:44:21,970 main [info] c.g.g.GRSManager - activating: GitLab, typ

[2016-10-07 11:34] gitpitch commented on #15
If you are launching your GitPitch server using `sbt run` it is running in dev mode. So you can specify an alternate host address on the command line when you launch the server. Try this:

[code]

Note, I only ever use `localhost` when dev mode testing. For non-dev mode deployments I follow the [steps outlined here](https://www.playframework.com/documentation/2.5.x/Deploying) for production deploy

[2016-10-07 11:43] pmsudhi commented on #15
Hi,
Iam running _GitPitch_ server in production mode. i had made self-contained distributable and deployed it to `$HOME/bin/gitpitch` . and starting the server through script `./server`

[2016-10-07 12:12] gitpitch commented on #15
Ok. And have you tried setting the `-Dhttp.address=waspsource` as suggested on the command line at launch?

What are your server logs showing following server startup?

[2016-10-07 12:33] pmsudhi commented on #15
While Ispecify _-Dhttp.address=waspsource_ , i can't open the url in localhost or with host name(error same as in attached image). the server log doesn't have any error message except information regarding starting the server. the console output is as follow

`**/bin/gitPitch/bin$ ./server -Dhttp.address=waspsource**
2016-10-07 17:55:58,847 main [info] c.g.g.GRSManager - activating: GitHub, type=g

[2016-10-07 12:45] gitpitch commented on #15
The screenshot you have shared tells me that you are still trying to reach the GitPitch presentation using `localhost` in the URL in your browser. Have you tried using `waspsource` in the URL?

[code]

[2016-10-07 16:00] pmsudhi commented on #15
Yes. Tried both url and result same error page in case I pass the parameter. And in case I start it without any parameters , i can access local host and not byhostname

Regards

From: David Russell

Sent: Friday, 7 October, 6:15 p.m.

Subject: Re: [gitpitch/gitpitch] Configuring gitpitch on ubuntu (#15)

To: gitpitch/gitpitch

Cc: Sudheesh PM, Mention

The screenshot you have shared tells me that

[2016-10-07 16:15] gitpitch commented on #15
At this point it is probably worth checking if you are experiencing a DNS problem on your host. Instead of trying to bind to your `hostname` when launching the server I suggest trying to launch the server IP address instead:

[code]

Where `xxx.xxx.xxx.xxx` is the IP address that maps to the hostname `waspsource`.

Then after the server starts try opening the presentation at the following URL:

[c

[2016-10-08 10:51] #12 closed

[2016-10-09 02:00] chendachao commented on #12
@gitpitch thanks for correcting me, it's my fault, sorry about that, I type a wrong url from https://github.com/gitpitch/gitpitch's README.md picture by mistake.

BTW I created a PITCHME.md [here](https://github.com/chendachao/git-test/tree/dev), but can't show a slide, am I missed something?

[2016-10-09 02:08] gitpitch commented on #12
Hi @chendachao no problem, typos happen to all of us. As for your presentation, it's working fine, try this in your browser:

[code]

Generally speaking, a GitPitch URL is formed like this:

[code]

So in the case of your presentation, you need to substitute `chendachao`, `git-test`, and `dev` for `user-name`, `repo-name`, and `branch-name` respectively.

[2016-10-09 15:14] Lothiraldan opened #16 "Code blocks indentation is missing"
Hi, first of all thank you very much for your work!

I'm trying to work on a slidedeck with numerous code block and just saw that code block indentation seems missing. I also checked the kitchen-sink demo and it also seems that code block indentation is missing: https://gitpitch.com/gitpitch/kitchen-sink/master.

Could it be a bug in highlight.js?

[2016-10-09 15:45] gitpitch commented on #16
Hi @Lothiraldan thanks for reporting this problem. Definitely a recent regression, code indentation is an important feature and should be working. Not likely a bug in highlight.js, rather something I've done in my production environment. I'll look into this (realistically, tomorrow) and update this thread when I have a better answer for you.

[2016-10-09 15:50] Lothiraldan commented on #16
Awesome, thank you for the quick answer, please tell me if I can help.

[2016-10-09 16:26] gitpitch commented on #16
@Lothiraldan I've just pushed a patch that will hopefully address this code block indentation problem you reported. Please let me know how you get on if you have a chance to test this. Thanks again for your help.

[2016-10-09 20:48] Lothiraldan commented on #16
Thank you very much, the bug is resolved!

[2016-10-09 20:48] #16 closed

[2016-10-10 01:17] gitpitch commented on #16
Excellent, thanks for all your feedback. Bug was resolved by commit 594da40a6237a2f81a8887a935a4144f4141ef25

[2016-10-12 01:30] chendachao commented on #12
@gitpitch it works fine, it's really amazing, thank you so much.

I think you can make it clear in readme.

[2016-10-12 02:05] gitpitch commented on #12
@chendachao glad to hear everything is working for you now. Remember to check out the [GitPitch Wiki](https://github.com/gitpitch/gitpitch/wiki) which details how you can work with lots of GitPitch presentation features.

[2016-10-12 04:09] pmsudhi commented on #15
Hi,
Giving  IP Address also not resolved the issue. mean time i refreshed my ubuntu machine and redone the steps exactly as before and still the issue remains same. To conclude

1. DNS is resolving to valid IP address

**Diffrent Scenarios**:
**A) Starting Server with -Dhttp.address=192.168.1.65**
   **_A.1)_** When I browse the page with http://192.168.1.65:9000/gitpitch/kitchen-sink , I receive

[2016-10-12 04:20] gitpitch commented on #15
@pmsudhi can you tell me about the host environment, is it a local box, an AWS instance, or something else?

By default, when you launch the GitPitch server the default `0.0.0.0` binding should be automatically accepted by the embedded Netty server and just work for any valid network interface (address) on your box.

What is in your /etc/hosts file? If you do not want to share that information pub

[2016-10-12 04:30] steverice commented on #15
I believe this is just a Play Framework setting — you need to configure the [`hosts.allowed` property](https://github.com/gitpitch/gitpitch/blob/f4adfbed3ecdd1418880d017b70f3d11333d154e/conf/application.conf#L294) for the [AllowedHostsFilter](https://www.playframework.com/documentation/2.5.x/AllowedHostsFilter#Configuring-allowed-hosts).

Note that the [default value](https://www.playframework.com

[2016-10-12 04:38] pmsudhi commented on #15
Thanks @steverice . Yes it was the problem. My understanding was that if i comment that property it is going to allow ALL Hosts. Thanks for that help, by changing that I am now able to access this in all way. Thanks @gitpitch for patiently follow up with me

[2016-10-12 04:38] #15 closed

[2016-10-12 04:40] gitpitch commented on #15
@steverice thank you very much. I've just tested and verified this config change on a staging server here. It works. @pmsudhi hopefully you now have what you need.

Each of the GitPitch servers I've deployed run behind `nginx` so do not require this config change. But this is very good to know. I'll update the build/deploy docs with details so people in the future won't get stuck on this.

[2016-10-12 05:34] gitpitch commented on #15
Wiki documentation has been updated to include new section on [Server Deploy Instructions](https://github.com/gitpitch/gitpitch/wiki/Server-Deploy-Instructions). Aim is to provide as a better starting point for future users setting up their own GitPitch server.

[2016-10-14 06:32] chendachao commented on #12
@gitpitch Got it, thank you.

[2016-10-19 07:37] gitpitch commented on #13
@SukharevAndrey quick update. Having spent considerable time (1) rebuilding [decktape](https://github.com/astefanutti/decktape) (2) updating system fonts and font caches on a number of Ubuntu staging and  production servers I still can not force the use of the custom mathjax fonts when printing formulas to PDF. But I'm still digging. If I find any way to improve this situation I will notify you by

[2016-10-25 00:27] tjc1575 opened #17 "Image Not Rendered in PDF"
I cannot get images to render when using the 'print' function on an internal instance of GitPitch.

I am running my own instance of GitPitch connected to an internal GitLab instance. Everything works well until I try to print / save-to-pdf. I have a single slide that contains an image ( png referenced by a local path to the related repository ). When I view the presentation through GitPitch, the i

[2016-10-25 03:08] gitpitch commented on #17
Hi @tjc1575

The GitPitch server has an external dependency on the [decktape](https://github.com/astefanutti/decktape) library. This external library is used by the GitPitch server to convert slideshows to PDF. If you have not already installed and configured this dependency on your local server then you will need to do the following:

1. Install [decktape](https://github.com/astefanutti/decktape)

[2016-10-25 03:38] tjc1575 commented on #17
Thanks for the reply @gitpitch

I had already figured out the decktape dependency and updated the relevant path in the configuration file. I just ran the test phantomjs command you listed and it properly created the pdf including the images.

When I try to print from GitPitch it still doesn't work though. It saves out the rest of the presentation. It just doesn't include the actual images.

Someth

[2016-10-25 04:07] gitpitch commented on #17
@tjc1575 before we dig in any deeper can I just ask you to confirm that the repository where your slideshow presentation is contained is a `public` repo on your local GitLab server?

[2016-10-25 04:26] tjc1575 commented on #17
@gitpitch it was not, no. I had the repository as internal. Does it have to be public? The api token that was provided to GitPitch is from a user that has access to the repository.

I went and made the repository public for testing. I am getting the same results. The image will appear for the GitPitch viewer but is missing in the pdf.

[2016-10-25 04:38] gitpitch commented on #17
@tjc1575 GitPitch only works with `public` repositories so this is a required step regardless of what GP server you are pointing at.

Based on your feedback where you are (1) seeing expected results in the browser but (2) not seeing expected results in the PDF I thought (and still think) the issue may have to do with access.

Are you logged in to GitLab within your browser where you are viewing th

[2016-10-25 05:49] gitpitch commented on #17
@tjc1575 here is a quick test you can run that will also provide useful info to help us debug here. Can you please try the following to test/verify that public assets are available for download on the GitLab raw data API for your local GitLab server:

[code]

Where:

- `https` or `http` depending on your local GitLab server setup
- `server` is the IP or hostname for your local GitLab server
- `use

[2016-10-25 14:50] tcarpenter-chi commented on #17
@gitpitch okay, so I ran a few tests. I opened up a private browser window to ensure that there was no credentials / cookies bleed over. The GitPitch presentation was able to show the image; the printed pdf still did not show the image.

I ran the curl command and was able to download the image correctly.

One thing of note came up when trying to print the pdf. The first time I clicked print in th

[2016-10-25 15:11] gitpitch commented on #17
Hi @tjc1575

I can see from the `decktape` output that you are using the master branch for testing your presentation. PDF generation by the GitPitch server is subject to the following [caching policy](https://github.com/gitpitch/gitpitch/wiki/GitPitch-Caching#pdf-caching). So the reason you see that error from `decktape` only the first time is because the PDF for a presentation on the `master` bra

[2016-10-25 15:18] tcarpenter-chi commented on #17
@gitpitch Yep, that fixed it. I was trying with a feature branch yesterday and don't remember seeing the resolution error, but I must have missed it. Just to clarify, the issue was actually with the GP setup. I had to change the `site`, `apibase`, and `rawbase`, configuration values to use the IP rather than the host name.

Any idea why it can't resolve the host?  ( All other systems, including th

[2016-10-25 15:27] gitpitch commented on #17
@tjc1575 good to hear that it is now working for you. That change you made to the GP config really only changes the URLs that point at GitLab files. So instead of using a `hostname` those URLs would be constructed using `IP` addreses.

Those URLs are then used to load and render presentation content in your browser. And those same URLs are also used by `decktape` to embed the presentation content

[2016-10-25 15:31] tjc1575 commented on #17
@gitpitch okay, thanks for your help. The IP address is stable so this is a suitable work around for now. I'm closing the issue since this is really either an issue with my own local DNS ( which I don't think is the case since it works otherwise ) or an issue with name resolution in `decktape`.

[2016-10-25 15:31] #17 closed

[2016-10-25 15:33] gitpitch commented on #17
Ok @tjc1575 I'll update this thread if I hear anything conclusive from the `decktape` folks.

[2016-10-25 16:38] tjc1575 opened #18 "Footer Comments"
Is there any way to add footers? I have to add a "proprietary" statement on each slide and I would like that to appear at the bottom. Is that possible? Can I set something up in the YAML or theme to do it? I tried adding an html block but the test just appears in the middle of the slide, right under the other content rather than at the bottom.

[code]
Along the same lines, is it possible to put in

[2016-10-25 17:47] tjc1575 opened #19 "Support for GitLab Snippets"
I see that GitHub gists are supported to add code to presentations. It would be nice to have support for GitLab Snippets, which are GitLab's version of gists. The snippets are associated with a project so it keeps things more organized.

[2016-10-26 03:11] gitpitch commented on #18
@tjc1575 I've just [added support](https://github.com/gitpitch/gitpitch/wiki/Footnote-Setting) for a new `footnote` setting that can be set in your **PITCHME.yaml**.

By setting a `footnote` message in that file your message will be applied to every slide, appearing in the bottom-left corner of each slide. If you test this out please let me know how it goes.

As for title bars, if you want a disti

[2016-10-26 03:25] gitpitch commented on #19
It would indeed be nice. Unlike GitHub GIST, currently GitLab Snippets are not embeddable. There are a number of Issues/RFEs [8088](https://gitlab.com/gitlab-org/gitlab-ce/issues/8088) open requesting this feature. It is something I am tracking and once GitLab supports embeddable Snippets I do plan on updating GitPitch to take advantage of this.

It may be worth noting that you can create anonymou

[2016-10-26 04:13] tjc1575 commented on #19
I didn't realize that Snippets weren't embeddable. Well hopefully GitLab adds that feature soon. It would be cleaner if I could keep the snippets with the originating project.

[2016-10-26 04:13] #19 closed

[2016-10-26 04:21] tjc1575 commented on #18
@gitpitch Thanks for the quick turn around. I'll pull the newest version and test it in the morning. Is there, by chance, the ability to make the footnote appear centered along the bottom? Is there some way I can format to get that effect? I need to make sure the proprietary statement is easily seen.

As for the title bars. I am new to css, is it possible to set left align / top align just for the

[2016-10-26 04:45] gitpitch commented on #18
Hi @tjc1575 due to the way the footnote is implemented there is no way to pull it to the center. When you have a chance to try it out (recommend using Fullscreen) I think you will see that the text is clear and legible.

I understand what you are trying to accomplish with your title. I don't know offhand how you might achieve that effect you want. If there is a way to achieve this it would have to

[2016-10-26 15:12] steverice opened #20 "Possible to link directly to a slide?"
Is this currently possible? Would be very beneficial when referencing something specific but wanting to give others the broader context of a talk.
Thanks!

[2016-10-26 16:39] gitpitch commented on #20
Hi @steverice It is possible but you will need to construct the URL yourself. There are two steps involved here:

#### 1. You need to construct a `direct` URL to your slideshow

These `direct` URLs take the following form:

[code]

So for example, the `direct` URL for your slideshow presentation is the following:

[code]

#### 2. Append Slide Specific Fragment

These `slide fragements` take the fo

[2016-10-26 16:43] steverice commented on #20
@gitpitch this is perfect! Thank you so much! Been very impressed by your open-source maintenance of this project.
I'll close the issue, but would you consider adding this to the wiki?

[2016-10-26 16:43] #20 closed

[2016-10-27 04:36] gitpitch commented on #20
Glad you now have what you need @steverice. Great suggestion about updating the wiki. I've gone ahead and done that, see the new [Slide Direct Links](https://github.com/gitpitch/gitpitch/wiki/Slide-Direct-Links) page.

Thanks for your positive feedback, it's much appreciated. Any help you can give to get the word about GitPitch to fellow devs is much appreciated too.

[2016-10-27 14:53] tjc1575 commented on #18
@gitpitch the footer looks great. Tried it in both normal and fullscreen and it worked as expected. Thanks for the quick update.

[2016-10-27 14:53] #18 closed

[2016-11-02 21:20] steverice opened #21 "Unable to print"
Hi @gitpitch, I'm having trouble printing https://gitpitch.com/steverice/pagerduty-api-v2-deck. I end up with a 200 response with the right `application/pdf` type, but the browser just keeps loading the PDF without ever finishing.

I have to imagine that the request is timing out, given it is a larger presentation. I try to print with gitpitch running locally buy I get this error:
[code]

A quick

[2016-11-03 01:37] steverice commented on #21
Seems like it did eventually finish printing. Not quite the same CSS but I can live with that.
But I'm still curious what the issue might be with my local setup and how I could fix it.

[2016-11-03 03:16] gitpitch commented on #21
Hi @steverice

So yes, even if your browser connection to the server timeouts out waiting for the print job to complete the actual printing in the backend will complete. This explains why if you hit reload in your browser after an apparent print failure you will often see the generated PDF almost instantly.

As for a quick config tweak, you could try updating your `conf/application.conf` by adding

[2016-11-03 06:07] gitpitch commented on #21
@steverice now that I've had some time to look into this here's an update.

It looks like the root cause of the `...temporarily unavailable` message is a timeout between the front end http server (nginx) and the upstream (or backend) proxied GitPitch server. This timeout occurs pretty consistently after 30s. I have yet to find a valid configuration that will prevent this timeout but I'm working on

[2016-11-03 08:46] steverice commented on #21
Completely appreciated off-topic discussion on fonts! I hadn't run into the font issue until I tried to print from gitpitch.com, as I have those fonts installed locally on my machine. Made some updates as you suggested.

The printing problem was actually quite straightforward after I noticed that errors were being printed to `stderr` and not a logfile. I was getting this:
[code]
because I'd never

[2016-11-05 05:15] gitpitch commented on #21
@steverice glad the fonts tip was useful.

The Wiki is indeed lacking important info for enabling printing on a local server, good catch and thanks for pointing this out. The Wiki has been updated to fill in the gaps, [see here](https://github.com/gitpitch/gitpitch/wiki/Server-Build-Instructions).

Great to hear it's now all working as expected for you there. This issue has also helped me identify

[2016-11-08 10:32] #21 closed

[2016-11-10 09:34] Analect opened #22 "Wondering if building own server (as per wiki), will this allow viewing private gitlab repos?"
I have a use-case to present pitchme's from non-public repos on my self-hosted gitlab server ... is that possible to do with a local pitchme server install?  Thanks for your great project.

[2016-11-10 12:43] gitpitch commented on #22
Hi @Analect thanks for your feedback, glad you like this project. Unfortunately for you, private repos are not currently supported. Only PITCHME in public repos can be rendered as slideshow presentations. So it will not matter if you are using your local self-hosted server or [GitPitch.com](https://gitpitch.com). I know this is not the answer you were hoping for, apologies for that.

[2016-11-10 13:26] Analect commented on #22
OK. Thanks for the clarification.

[2016-11-10 13:26] #22 closed

[2016-11-26 10:39] ikalnytskyi opened #24 "Parametrized path to PITCHME.md"
(this is a feature request)

It'd be nice to be able to pass a path to `PITCHME.md` so I can have multiple presentations within a single repo and branch. Example:

[code]

Any chance to see it in near future? Because right now it's the only significant lack that prevent me from using GitPitch.

[2016-11-26 10:44] ikalnytskyi opened #25 "Slides preview"
(this is a feature request)

It'd be nice to have some sort of preview before committing `GITPITCH.md`. So far I have two thoughts:

* Online text editor where one can copy-paster `GITPITCH.md` content.
* Render `GITPITCH.md` from repo's pull request, where one can change its content with `git push --force` in order to have a good Git history in the end.

[2016-11-26 12:21] gitpitch commented on #24
Hi @ikalnytskyi glad to hear you are trying out GitPitch. So in truth I don't really see me adding this feature as you have described anytime soon for two reasons:

1. GitPitch uses a simple, consistent convention of looking for a PITCHME.md in the root directory of any public repo and your proposal breaks with that convention and I'm not yet convinced we need to break it.

2. Git already provides

[2016-11-26 12:43] gitpitch commented on #25
Hi @ikalnytskyi

This is definitely a nice idea and someday I would like to see a dedicated tool that would give you quick and easy previews of a GitPitch presentation under development.

There is a simple trick I use myself when developing my own presentations that you might like to try:

1. Create a skeleton one-page presentation and git-push it.
2. Open your skeleton one-page presentation on gi

[2016-11-26 22:44] ikalnytskyi commented on #24
@gitpitch Thanks for the answers.

1. > GitPitch uses a simple, consistent convention of looking for a PITCHME.md in the root directory of any public repo and your proposal breaks with that convention and I'm not yet convinced we need to break it.

  Why to break anything? It's a good default that I'd like to see anyway. All I ask is just to introduce maybe a new URL that receives relative path to

[2016-11-27 03:30] gitpitch commented on #24
Hi @ikalnytskyi thanks for explaining your use case. The benefit of sharing common stuff is a good example, I get it. Typically I use GitHub pages to store common assets (such as images, css files, etc) and then I use absolute URLs to those assets in my presentations. So a single change to those assets is picked up by all dependent presentations without having to make branch-by-branch changes.

Th

[2016-11-28 13:07] gitpitch commented on #24
@ikalnytskyi I have just pushed initial support for this feature request live on `gitpitch.com`.

You can now specify a new query parameter `p` on any slideshow url. This parameter allows you to specify a relative directory within your repo where GitPitch will look for the `PITCHME.md` and  `PITCHME.yaml` for a given presentation.

For example, based on your initial RFE feedback, the URL for your

[2016-11-29 09:22] gitpitch commented on #24
FYI the [GitPitch Wiki has been updated](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Management) to document this new feature.

[2016-11-29 09:44] ikalnytskyi commented on #24
@gitpitch thank you very much! I'll definitely take a look within couple of day as I need to prepare a talk to upcoming conference. I'll provide my feedback as soon as possible. :)

[2016-11-30 11:31] mwelch2 opened #26 "Question relating to Private Repos"
Is it possible to use gitpitch on a private repository?

[2016-11-30 12:10] gitpitch commented on #26
Hi @mwelch2 private repos are not currently supported. Only `PITCHME` in public repos can be rendered as slideshow presentations.

[2016-12-02 19:30] Hwesta opened #27 "Broken URL in documentation"
On the Getting Started slide of the wiki, the link to the Hello World slideshow is broken. It looks like it's been renamed from https://gitpitch.com/gitpitch/hello-world to https://gitpitch.com/gitpitch/gitpitch

[2016-12-02 19:37] Hwesta opened #28 "PITCHME.yaml documentation?"
A PITCHME.yaml is referenced on the [custom CSS](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS) wiki page but I can't find other references or documentation on it.  Can you add some documentation about where this file is expected to be and what configuration can be put there?

I ran into this problem because the custom CSS I added didn't seem to work.  I added this PITCHME.yaml to

[2016-12-02 19:39] Hwesta commented on #28
Of course, 2 mins after I submit this I find the https://github.com/gitpitch/gitpitch/wiki/Slideshow-Settings page with more information. Sorry!

[2016-12-02 19:39] #28 closed

[2016-12-03 03:54] gitpitch commented on #27
Thanks @Hwesta you're right, slideshow was moved, links now fixed. Thanks again.

[2016-12-03 03:54] #27 closed

[2016-12-03 03:58] gitpitch commented on #28
No problems @Hwesta :) I've updated the Wiki TOC to help make this clearer, hopefully easier to find.

[2016-12-03 06:57] Hwesta commented on #28
Thanks!  That's much easier to find.

[2016-12-07 08:38] gitpitch opened #29 "Use Open Graph meta tags to enhance social sharing."
Allow social sharing sites such as LinkedIn, Facebook, Twitter, etc. detect and display Open Graph meta tags specific to individual GitPitch presentations.

[2016-12-07 08:39] gitpitch commented on #29
Resolved by 1ee570a955.

[2016-12-07 08:39] #29 closed

[2016-12-08 09:23] gitpitch commented on #24
Hi @ikalnytskyi just checking in to see if you have had a chance yet to test/verify this new feature?

[2016-12-09 04:12] terrywbrady opened #30 "External links in a presentation should open in a new tab"
The first slide in [this presentation](https://gitpitch.com/Georgetown-University-Libraries/BarcodeInventory/master?grs=github&t=white) has an external link.

In Firefox, Chrome, and Safari, if I click it, I see a bunch of icons in the slide viewer, but the link does not open.

In IE, I see an error message "This content cannot be displayed in a frame".  If I click the link in the error dialog, a

[2016-12-09 04:19] terrywbrady opened #31 "Allow video embed with a timestamp"
On the 10th and 11th slides of [this presentation](https://gitpitch.com/Georgetown-University-Libraries/BarcodeInventory/master?grs=github&t=white), I have a link to a youtube video.  Ideally, I would like that embed to start at a specific timestamp.

On the 10th slide, I have a link with the proper timestamp, but the video does not open properly due to issue #30.

On the 11th slide, the embed opt

[2016-12-09 04:21] terrywbrady opened #32 "Allow embed of a user's Google Analytics Code into a Presentation"
If possible, this would be really useful for tracking.

[2016-12-09 07:12] gitpitch commented on #30
There is a simple workaround to give you the behavior you want when people click on you links. You can replace implicit Markdown links in your `PITCHME.md` with HTML anchor syntax that uses a `_blank` target.

For example, based on the sample presentation you provided, replace this markdown in your `PITCHME.md`:

[code]

With this:

[code]

Note, this general approach is also mentioned in the [HTM

[2016-12-09 15:40] gitpitch commented on #31
A new patch 38badea514cf12b0c33cf3e953a89ab2c28e887f has been pushed live on [gitpitch.com](https://gitpitch.com) that provides support for custom play `start` and `end` offsets for inline YouTube video playback.

To achieve the outcome you want for the sample presentation you linked to you can replace the following slide:

[code]

With a single slide that uses the new `start` parameter on the vid

[2016-12-09 16:27] terrywbrady commented on #31
That works perfectly for me.  Thank you!

[2016-12-09 16:28] #31 closed

[2016-12-09 16:29] terrywbrady commented on #30
This works as you describe.  I had presumed I would need to rewrite the whole slide with the HTML syntax.  This works well.  I have updated my presentations.

[2016-12-09 16:29] #30 closed

[2016-12-13 15:15] zariye commented on #25
@gitpitch thanks for this helpful instructions! =) do you also have an idea how it could work with including pictures (in case i do not want to use a feature branch)

[2016-12-13 17:43] varac commented on #24
@gitpitch @ikalnytskyi  Awesome, thanks! I was interested in the same feature - will report back soon.

[2016-12-14 03:32] gitpitch commented on #25
Hi @zariye it's very simple to work locally with pictures/images etc. As noted above, when you work locally using the `offline` bundle as your development and test environment you use the following file to develop the Markdown content for your presentation.

[code]

If you want to use pictures within your presentation then simply add an `assets` directory alongside the `PITCHME.md` file and place

[2016-12-14 09:24] zariye commented on #25
awesome

[2016-12-28 02:39] gitpitch commented on #32
Hi @terrywbrady I've just added experimental support that should give you the ability to use your own Google Analytics account to track your GitPitch presentations. All you need to do is add a new `gatoken` property to the `PITCHME.yaml` for your presentation. For example:

[code]

Where `1A2B3C4D5E` should be replaced with your own GA token code. Once this token is made available GitPitch will us

[2017-01-01 17:01] terrywbrady commented on #32
@gitpitch , I can now see the events in the GA console.  This is looking good to me!

[2017-01-02 03:33] gitpitch commented on #32
Excellent. GA support is now [documented on the Wiki](https://github.com/gitpitch/gitpitch/wiki/Google-Analytics).

[2017-01-02 03:33] #32 closed

[2017-01-02 04:06] gitpitch commented on #24
I'm closing this issue as resolved as the feature is now supported as [documented here](https://github.com/gitpitch/gitpitch/wiki/Asset-Sharing). If anyone has any feedback please feel free to update the issue thread. Of course you can re-open the issue if you have hit any problems with this feature.

[2017-01-02 04:06] #24 closed

[2017-01-03 16:44] terrywbrady commented on #32
@gitpitch , thank you for generating the documentation.  I am going to reference this in my yaml files to make it clear that cloners should update the id.

I have a couple suggestions for the wiki page.

In your example, consider making your example code look like a GA code.  "UA-1111111-1".

Provide instructions for setting up a property in GA.
* Log into Google Analytics
* Create a new property

[2017-01-05 21:40] hq6 opened #34 "Allow per-slide custom CSS?"
Currently, if I want to have a custom style for all `<h1>` tags *on a particular slide*, I must use inline-HTML for all `<h1>` tags, such as the following.

[code]

I tried the following, but it appears to do nothing.

    <style>
    h1 {
    text-transform:none;
    }
    </style>
    #This is one place where I want h1 without text-transforms
    #This is another place where I want h1 without te

[2017-01-05 22:09] hq6 opened #35 "theme-override not working?"
For [my repository](https://github.com/hq6/Thesis_Proposal), it appears that [custom CSS](https://github.com/hq6/Thesis_Proposal/blob/master/assets/css/style.css) is being entirely ignored.

I followed in the instructions in the Wiki to the letter, as far as I could tell.

Based on the rendered HTML, reproduced below, it looks like there are many opportunities for Javascript to change the style af

[2017-01-06 04:17] gitpitch commented on #35
Hi @hq6 your custom CSS needs to override the default style for the specific elements you are interested in changing. So for example, here is a snapshot of dev tools inspecting your current slideshow:

![style](https://cloud.githubusercontent.com/assets/19169584/21707300/d8f4c99c-d400-11e6-9a65-6ce7c7214f32.png)

Note on the right hand panel the `Styles` tab indicates that the `<h1>` has a CSS cla

[2017-01-06 04:30] gitpitch commented on #34
Using the [custom css](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS) feature provided by GitPitch gives you the ability provide a custom style that applies to all slides presentation wide. As discussed in #35 the key to custom styling is to ensure that your custom CSS targets the elements correctly.

If you want to use a custom style on a specific slide that differs from your pre

[2017-01-06 11:28] #34 closed

[2017-01-06 18:56] hq6 commented on #35
Thanks! I wasn't too familiar with reveal.js and didn't realize it was adding CSS classes to my elements in JS.

[2017-01-06 18:56] #35 closed

[2017-01-07 00:22] terrywbrady opened #36 "For code snippets, consider binding an event that will select all of the text within the code box"
I have a presentation with lots of code samples that I will be copying and pasting into an IDE.

It would be cool if I could easily add the code blocks to my clipboard in presentation mode.

Perhaps this behavior could be bound to a focus, click, or double-click event on the pre element.

[2017-01-07 05:56] gitpitch commented on #32
Thank you @terrywbrady great suggestion. The [Wiki](https://github.com/gitpitch/gitpitch/wiki/Google-Analytics) has been updated.

[2017-01-09 11:18] gitpitch commented on #25
Offline bundle approach detailed above provides preview solution per this feature request. Closing issue as resolved.

[2017-01-09 11:18] #25 closed

[2017-01-09 23:11] terrywbrady commented on #32
@gitpitch , I am seeing the following warning in GA.  I wonder if some additional refinement is needed.

The default URL https://gitpitch.com, for property UA-89672351-2 has no tracking code for this property, although it does have tracking codes for other properties:
UA-80973712-1
If your Tracking ID and your Default URL setting are out of sync, you don't get valid data in your Analytics account

[2017-01-10 01:34] gitpitch commented on #32
@terrywbrady not sure what steps need to be taken if any. That's the GitPitch tracking code and having looked at that GA account there is no indication of any problem and the daily analytics numbers seem to be active and current.

Are you still getting accurate analytics on your own presentations?

[2017-01-10 18:01] terrywbrady commented on #32
@gitpitch , using inspect mode in Chrome for my presentation and searching for "UA-", I actually see evidence of 3 different tracking codes:

UA-80973712-1
UA-89672351-2
UA-1244922-8

I seem to be getting valid analytics in spite of the issue.

[2017-01-11 01:42] gitpitch commented on #32
@terrywbrady just fyi, that's the GitPitch token, your token, and a token used by the [Share feature](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Sharing) plugin so this all looks correct.

[2017-01-13 17:00] terrywbrady opened #37 "Presentations are not loading properly (Jan 13, 2017 9am PT)"
PITCHME.md 404 is appearing as an error

[2017-01-13 17:15] terrywbrady commented on #37
This issue appears to be resolved

[2017-01-13 17:15] #37 closed

[2017-01-15 12:33] gitpitch commented on #36
@terrywbrady experimental support for selecting code within code blocks is now live.

The `s` key (`s` for `select`) has been bound for slides. If you press `s` on a slide that is displaying a [code block](https://github.com/gitpitch/gitpitch/wiki/Code-Slides) the text of that code block will be auto-selected in your browser. You can then use the standard keys `Ctrl-C` or `Cmd-C` to copy the selec

[2017-01-16 02:05] gitpitch commented on #13
Workaround is to [install and run GitPitch server](https://github.com/gitpitch/gitpitch/wiki/Server-Deploy-Instructions) on non-Ubuntu server.

[2017-01-17 18:09] terrywbrady commented on #36
@gitpitch , this works great.  Thank you!

Fyi, the keyboard shortcut is not yet on the shortcut help menu.

I tested in Chrome, IE, and Firefox on Windows and in Safari on MacOS.

[2017-01-17 18:14] terrywbrady opened #38 "Fullscreen option is not working in IE"
I was testing a separate issue in multiple browsers and I noticed that the fullscreen "f" keyboard shortcut is not working in IE 11.  It works fine in Chrome, Safari, and Firefox.

I am running IE 11.0.9... on Windows 7 Enterprise.

The other keyboard shortcuts seem to work in IE.

I see the following error in my IE Console when loading a presentation.

File: reveal.js, Line: 1, Column: 9353

[2017-01-18 02:40] gitpitch commented on #38
@terrywbrady have you been using the fullscreen `f` keyboard shortcut successfully on IE 11.0.9 prior to  the latest patch being pushed to adds support for code block selection? I'm trying to understand if this is a new problem somehow introduced by that latest patch.

[2017-01-19 06:26] terrywbrady commented on #38
@gitpitch , sorry that I missed your question. I do not use IE regularly, so I cannot tell if it is a new issue or not.  Let me know if you have something you need me to test out further.

[2017-01-19 10:46] gitpitch commented on #38
Hi @terrywbrady as I don't use or have access to IE myself it would be very helpful if you could run some quick tests on IE.

1. Can you clear cache on IE and again test and verify that the problem you reported occurs.

2. Can you clear cache again and then try opening your test presentation in IE using my `staging server` in place of `gitpitch.com`:

[code]

The staging server is running a slight

[2017-01-19 17:51] nnadeau opened #39 "Add Python 3 snippet to Slideshow Offline wiki page"
- Wiki page: https://github.com/gitpitch/gitpitch/wiki/Slideshow-Offline
- Python 3 snippet: `python3 -m http.server`

[2017-01-19 21:46] terrywbrady commented on #38
@gitpitch , I gave it a try and the "f" button does not work.

I do not get the console error listed above when I run it off of your server.

I see some warning messages about a style attribute.

    <a href="#popupTheme" role="button" data-toggle="modal-popover" data-placement="top"><i
                                class="fa fa-paint-brush" aria-hidden="true"> <span style="font-family: Helvetic

[2017-01-20 03:00] gitpitch commented on #39
Note added to [Slideshow Offline](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Offline) page per your recommendation. Thanks.

[2017-01-20 03:00] #39 closed

[2017-01-20 06:49] gitpitch commented on #38
@terrywbrady it looks like you may have hit upon a number of problems under IE. None of which I'm in a position to debug or fix at this time. If you want to submit a patch yourself please feel free to do so. For now, as a simple workaround exists (install and use an alternate browser like Chrome), I'm going to close this issue as will-not-fix.

[2017-01-20 06:49] #38 closed

[2017-01-27 21:11] lwdye opened #40 "pdf math conversion error"
Great project!  Converting kitchen-sink example to pdf fails to render math example correctly.

[2017-01-27 21:22] lwdye opened #41 "gitlab etc support not clearly documented and possible improvement"
Given me/foo on gitlab with PITCHME.md and me/* on github fails to find project.   The following works

https://gitpitch.com/user/project/branch?grs=gitlab

It appears you first check github.  If you fail perhaps continue to gitlab etc.  If me/foo on both gitlab and github perhaps this should be an error and force explicit call.

[2017-01-28 05:08] gitpitch commented on #40
Hi @lwdye thanks for reporting this problem. I believe the impact of async loading multiple videos within the `kitchen-sink` sample presentation may be interfering with font loading during PDF generation.

If you use [math formulas](https://github.com/gitpitch/gitpitch/wiki/Math-Notation-Setting) in your own presentation I believe they will print just fine. For example, here's a demo presentation

[2017-01-30 12:44] gitpitch commented on #41
I've added a new [Supported Git Services](https://github.com/gitpitch/gitpitch/wiki/Supported-Git-Services) page to the Wiki that explains how GitPitch is capable of talking to a number of Git services and how you as a user have two choices for how you can can tell GitPitch which service you want it to talk to.

[2017-02-01 05:00] #41 closed

[2017-02-02 22:15] terrywbrady opened #42 "Should Arrow Keys Advance Slides Containing Transitions?"
I have a presentation with several HSLIDES and VSLIDES.

I have also added bullet transitions to several of these slides.

I notice that the arrow keys always trigger the bullet transitions.

Would it make more sense for the arrow keys to always advance to the next/prev slide disregarding any active bullet transitions on a page?

[2017-02-03 03:36] gitpitch commented on #42
If the primary navigation keys (arrow keys) didn't trigger [slide fragments](https://github.com/gitpitch/gitpitch/wiki/Fragment-Slides) how would they be triggered?

What is the nature of the problem you are facing? Are you concerns related to speed of navigation? You can easily drop into [overiew mode](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Overview-Mode) and rapidly navigate to any

[2017-02-03 15:42] terrywbrady commented on #42
@gitpitch , My thinking was spacebar for primary advance (slide or bullet) and the arrow keys for a full slide advance.

I am testing a presentation with several bullet transitions, which brought the question to my mind.

The overview mode works great for me.  This is definitely not a necessity, just an idea to bounce off of you.

[2017-02-04 09:51] gitpitch commented on #42
Thanks @terrywbrady for the clear use case. I like this idea. Although I would probably prefer adding new keyboard controls for this functionality, something like `Shift-Left` and `Shift-Right` to skip over fragments to the next slide. In theory this would allow us to add new behavior while preserving existing behavior.

First look suggests this would require a fork of the underlying `reveal.js` l

[2017-02-10 08:16] gitpitch commented on #42
Hi @terrywbrady as part of a larger upgrade for GitPitch I've included a patch that should give you a way to enjoy faster navigation by skipping over fragments on slides. Once you activate this upgrade you should be able to press `Shift-Left` or `Shift-Right` to skip over fragments on a slide when navigating. Simply using the `Left` and `Right` keys without the `Shift` key still gives you the curr

[2017-02-10 13:08] #40 closed

[2017-02-10 16:53] terrywbrady commented on #42
@gitpitch , the shift left and right work beautifully for me.  Thank you for making this change.

Shift down arrow also works for me.  The shift up arrow does not seem to advance a full slide as the shift down does.

To complete testing, I also tried using the h, j, k, l and shift h, j, k, l keys.  I think that this enhancement may have broken the behavior of the j key when 3.4.1 is active.

[2017-02-11 02:39] gitpitch commented on #42
Thanks @terrywbrady for your testing and feedback. I've just pushed a small patch that will hopefully resolve each of the issues you raised:

1. `Shift-Up` now advances over slide fragments.
2. The `j` key behavior is fixed.

 Let me know how it goes.

[2017-02-13 16:56] terrywbrady commented on #42
@gitpitch , I did a quick test and this is working as expected.  Thank you

[2017-02-16 21:21] rogalski opened #43 "Exporting to *.pdf does not preserve monospace font of code snippets"
MCVE for bug: https://github.com/rogalski/gitpitch-bug-mcve
OS: Mac OS Sierra
Browsers:
Safari 10.0.3 (12602.4.8)
Chrome 56.0.2924.87 (64-bit)

[2017-02-16 21:21] rogalski opened #44 "Exporting to *.pdf does not preserve Emojis"
MCVE for bug: https://github.com/rogalski/gitpitch-bug-mcve
OS: Mac OS Sierra
Browsers:
Safari 10.0.3 (12602.4.8)
Chrome 56.0.2924.87 (64-bit)

[2017-02-17 14:52] gitpitch commented on #44
Hi @rogalski

It looks like the issue you've described stems from a [known issue on decktape](https://github.com/astefanutti/decktape/issues/67). The `decktape` service provides the backend printing functionality for GitPitch.

Basically `decktape` requires a concrete monospace font family to be defined in the css for any page that is attempting to print in monospace. It turns out the [reveal.js](

[2017-02-19 15:39] gitpitch commented on #43
Hi @rogalski

It looks like the issue you've described stems from a [known issue on decktape](https://github.com/astefanutti/decktape/issues/67). The `decktape` service provides the backend printing functionality for GitPitch.

Basically `decktape` requires a concrete monospace font family to be defined in the css for any page that is attempting to print in monospace. It turns out the [reveal.js](

[2017-02-20 16:18] boileaum opened #45 "Exporting to pdf does not preserve LaTeX font"
See for example the difference between the proper [gitpitch rendering](https://gitpitch.com/boileaum/gitpitch/dev?grs=gitlab&t=white#) and the non math fonts of the [corresponding pdf export](https://gitpitch.com/pitchme/print/gitlab/boileaum/gitpitch/dev/white/PITCHME.pdf).

- System Version: macOS 10.12.3 (16D32)
- Kernel Version: Darwin 16.4.0
- Tested browsers:
  - Chrome Version 56.0.2924.87

[2017-02-20 16:30] gitpitch commented on #45
Hi @boileaum thanks for reporting this issue. Looks like it might be a duplicate of #13. The issue is caused by a font config problem on the GitPitch.com Ubuntu server. I've not yet been able to find a config that works when printing MathJax through [decktape](https://github.com/astefanutti/decktape).

Issue #13 has a suggested workaround if you want your PDF to look it's best, run a local copy of

[2017-02-21 19:05] rogalski commented on #43
Hello,

Adding those overrides and custom CSS works fine as a workaround.

[2017-02-23 04:57] gitpitch commented on #45
Hi @boileaum just fyi, a new printing option is now available on all GitPitch presentations giving you the ability to try and print directly within the browser. The new print options are presented as follows:

![gitpitch-printing](https://cloud.githubusercontent.com/assets/19169584/23244929/38cc8d5c-f9bb-11e6-93c5-b43c79d41dc6.png)

The `Generate PDF on Server` is the original print support. The `

[2017-02-23 05:03] gitpitch commented on #13
@SukharevAndrey fyi, a new printing option is now available on all GitPitch presentations giving you the ability to try and print directly within the browser. And printing directly within the browser helps solve a number of font related issues including the issue you reported on this thread.

The new print options are presented as follows:

![gitpitch-printing](https://cloud.githubusercontent.com/

[2017-02-23 05:03] #13 closed

[2017-02-26 13:56] chbndrhnns opened #46 "Supports for charts"
I really like your service and would like to see support for charts, for example by implementing
https://github.com/rajgoel/reveal.js-plugins.

[2017-02-27 07:58] gitpitch commented on #46
Hi @chbndrhnns glad you are enjoying using GitPitch and thanks for your feedback. Having looked at these plugins and recognizing they require both custom mods to the reveal.js configuration and require canvas elements I don't see these as a great fit with a Markdown centric solution like GitPitch.

However, GitPitch does give you the ability to render hi-res images as backgrounds for any slide. Th

[2017-02-27 21:25] chbndrhnns commented on #46
Hey there,

Thanks so much for looking into this. Actually I was only about to request the Charts plugin [1] to be included into gitpitch, not the other ones. Sorry for that.

As far as I can see, this plugin does not require changes to the reveal code itself and it just seems attractive for me to be able to have csv data inside of my presentation that is visualized on the fly.
But I cannot tell i

[2017-02-28 05:31] gitpitch commented on #46
What do I think @chbndrhnns ? I think this plugin would make a great new feature for GitPitch. So I've implemented it and the support is now live on gitpitch.com for you to test out.

I've updated the [ sample charts presentation](https://gitpitch.com/gitpitch/feature-demo/charts) so it now renders charts using the Charts.js plugin.

For you to do the same you simply need to add a new property to

[2017-03-01 08:00] chbndrhnns commented on #46
It works amazingly! Thanks very much! I have tried with internal data.

[2017-03-01 08:02] chbndrhnns opened #47 "Input focus on presentation after opening it"
The keyboard focus should be on the presentation so that it is no longer necessary to click into the presentation to be able to use the shortcuts.

[2017-03-01 09:32] chbndrhnns opened #48 "Add history option to enable direct links to slides"
There is a history flag for reveal.js that enables that every slide has its url like http://localhost:8080/pitchme.html#/1.

I'd like to see this in gitpitch, as well

[2017-03-01 09:54] gitpitch commented on #48
Hi @chbndrhnns check ou the [Slide Direct Links page](https://github.com/gitpitch/gitpitch/wiki/Slide-Direct-Links) in the Wiki. I think that should give you what you need, right?

[2017-03-01 10:19] chbndrhnns commented on #48
Yeah, but could there be an option in PITCH.yaml to append the slide-specific urls automatically so that I can just copy/paste?

[2017-03-01 11:07] gitpitch commented on #48
@chbndrhnns the option you requested has been added and this support is now live. To further simplify matters I've decided to make this `history` option enabled by default so you do no have to do anything in order to have access to the direct links for slides within your presentations.

You will still need to construct and use a direct URL to your slideshow as described on the [Slide Direct Links

[2017-03-01 12:46] chbndrhnns opened #49 "Failing server PDF export"
This simple snippet crashes my gitpitch server when trying to create a pdf file:

[code]

This is the error log:
[code]

[2017-03-01 15:32] gitpitch commented on #49
@chbndrhnns the snippet of log you have shared indicates a print failure but not a server failure. How have you deployed your server, did you follow all of the production deployment steps [outlined here on the Wiki](https://github.com/gitpitch/gitpitch/wiki/Server-Deploy-Instructions)?

Also can you try can open and print your test presentation using gitpitch.com and let me know if you see any fai

[2017-03-02 03:59] gitpitch commented on #47
Input/keyboard focus now set automatically when presentation loads. Resolved by 030fc8e76500ade172c838e9e15e20f1799ffaed.

[2017-03-02 03:59] #47 closed

[2017-03-02 04:00] gitpitch commented on #48
Requested feature now supported. Resolved by 787d2cc27bc1b3f7ba4cd25d14aa5cea4c38a337.

[2017-03-02 04:00] #48 closed

[2017-03-02 04:37] gitpitch commented on #46
Excellent, glad you're enjoying this new feature and thanks again for the great suggestion. I've updated the Wiki with a new page for [Chart Slides](https://github.com/gitpitch/gitpitch/wiki/Chart-Slides). Resolved by 805571ae38e6ab437555a2dad0db293f1668ba1a.

[2017-03-02 04:37] #46 closed

[2017-03-02 04:44] #42 closed

[2017-03-02 08:12] chbndrhnns commented on #49
It works fine with gitpitch.com.
I followed the instructions on how to deploy an installation and interestingly, running the command directly produces a pdf file on my server.

I cannot figure out the exact `decktape` parameters that are used from the GUI - are they different?

[code]

[2017-03-02 10:07] gitpitch commented on #49
The parameters you are passing to decktape look fine.

Given it's working fine on gitpitch.com it suggests some incompatibility in your local environment. I wonder if your problem is permissions related. When you use the GitPitch server to print it generates the `pdf` file and writes it to disk. And it will write to disk with the permissions of the owner of the server process. This owner must have

[2017-03-07 16:50] chbndrhnns opened #50 "Gitlab: Images missing in presentation for private repo"
Despite gitpitch does a local checkout of the repository, it tries to use images from the original location (even with a relative url) although they exist locally.

This fails for images that require a login.

Gitpitch still has access to the images via the API keys and should use relative image urls. Do not know how to handle SVGs, though.

[2017-03-07 17:56] chbndrhnns commented on #49
I am still figuring out what is going on here. I did a local dist installation and it also fails. I used the `.tmp`dir as I had no write access to `/tmp`.

I will follow up...

[2017-03-08 02:43] gitpitch commented on #49
The reason for the crash was that the directory you indicated in your config  did not exist. Absolute paths are recommended and a comment has been added to the `conf/application.conf` file. See 135411dc225af14a35b1a1a02c4435b5fa96a6fd.

[2017-03-08 02:43] #49 closed

[2017-03-10 16:50] freddi301 opened #51 "---?include=relative/path/file.md for composable slideshows"
along with https://github.com/gitpitch/gitpitch/issues/52 one can achieve reusable slides

[2017-03-10 16:51] freddi301 opened #52 "https://gitpitch.com/user/repo/branch/file.md so i can have more slideshows in one repo"

[2017-03-11 01:58] gitpitch commented on #52
Hi @freddi301 see the [Asset Sharing](https://github.com/gitpitch/gitpitch/wiki/Asset-Sharing) page in the Wiki to learn how you can work with multiple slideshows in a single repo.

[2017-03-11 02:18] gitpitch commented on #51
Hi @freddi301 thanks for your feedback, this is an interesting feature request. However the feature as described would add considerable complexity for what in my experience of typical usage would be a real edge case.

As noted in my comment on #52 you can easily maintain multiple slideshows in a single repo. I know this won't give you reusable slides as requested but it should greatly simplify man

[2017-03-11 11:58] freddi301 commented on #52
Consider to mention this in the section of usage in main page.
Thank you :smile:

[2017-03-11 11:58] #52 closed

[2017-03-11 12:06] freddi301 commented on #51
Hi, i don't know how hard it can be to implement it.
I was thinking that i can add a build step to my project that replaces #INCLUDE with the content of related file.
I am writing a programming course, and i will teach it to different skill level classes, so ti would be handy to have this feature to just include/exclude content by need.
Anyway this feature could be optional so no problems for tipi

[2017-03-11 12:19] freddi301 commented on #51
Hi,
i see that there are a feature like i requested already for gists and images, i propose something like
[code]

[2017-03-11 13:29] gitpitch commented on #51
Hi @freddi301 again thanks for all the feedback.

Unlike gists and images, markdown requires special server-side `preprocessing` before it can be used to generate the slideshow that you see in your browser. So the handling of `---?include=path/slide.md` is quite a bit more complex than simply handling gists and images. Not impossible, just not trivial.

I'll leave this issue open and if I get to i

[2017-03-11 13:37] gitpitch commented on #52
Great suggestion, thanks @freddi301. I've just added a note to the [main page in the Wiki](wiki#gitpitch-bonus-feature) highlighting feature support for sharing assets (css, images, etc) across multiple presentations in a single git repo.

[2017-03-12 05:18] sammoorhouse opened #53 "Custom logo div should have a "logo" class for custom styling"
I'd like to specify "logo: my_project_logo.png" in my PITCHME.yaml, then be able to style the logo. Currently this is difficult because there's no id or class associated with the image.

I have a simple change building locally if you'd like me to push it somewhere.

[2017-03-12 07:11] gitpitch commented on #53
Hi @sammoorhouse I've just pushed a patch 6b578c94f9fd4d14811fadbb9a05c76e1b8594a5 so the logo div now has an id named `gp-logo`, as follows:

[code]

You can target this new id with your custom css. Patch is live on [gitpitch.com](https://gitpitch.com).

[2017-03-12 07:11] #53 closed

[2017-03-12 07:15] sammoorhouse commented on #53
Thanks @gitpitch! I'll take a look.

[2017-03-13 13:19] gitpitch commented on #51
Hi @freddi301 I have prototyped a solution that is available for you to try out that should allow you to build fully composable presentations using `Markdown includes` to build out the content of your slideshow.

GitPitch now supports the following new `delimiter` arguments for horizontal and vertical includes respectively:

[code]

[code]

See the following [sample presentation](https://gitpitch.

[2017-03-14 07:39] freddi301 commented on #51
Hi @gitpitch ,
the basic `---?include=path/file.md` works fine.M
I did not have time, did you add a guard against circular dependency?
A simple singleton mechanism would be ok, example:
GITPITCH.md
include slideA.md
include slideB.md

slideA.md
include slideC

slideB.md
include slideA

you could create map of singletons, so a slide that is included more then once, will appear only where included t

[2017-03-14 08:30] gitpitch commented on #51
Hi @freddi301 as only the master `PITCHME.md` is currently eligible for `include` processing there is no risk of circular dependencies.

The example presentation structure you described is not supported as you are using the `include` mechanism outside of your `PITCHME.md`.

[2017-03-17 10:11] freddi301 commented on #51
Perfect :+1:
Great work, it's what i need

[2017-03-17 10:11] #51 closed

[2017-03-18 10:32] gitpitch commented on #51
Modular, composable presentation markdown feature provided by commit 2b11bc310f255cee4ca2e4997b6060f7809fd63c.

[2017-03-23 21:07] taboot commented on #25
B0bj@hotmail.com

[2017-03-23 21:07] taboot opened #54 "Ignore"
Ignore.

[2017-03-24 00:57] #54 closed

[2017-04-10 19:04] dukedave opened #55 "Don't make expand src when inside ```"
Don't expand `src` attribute path to absolute path, when it occurs in side ` ``` `.

It seems that the path for a `src` is being expanded to include `https://raw.githubusercontent.com/...` even when it occurs inside a ` ``` ` block.

This means my sample code showing:

[code]

Actually gets expanded to this when displayed in a slide:

[code]

[2017-04-11 04:38] gitpitch commented on #55
Hi @dukedave thanks for reporting this issue.

I have a simple workaround for you. Just add a single space (or tab) before your HTML <img/> tag in your code block. For example, here is what you currently have:

[code]
And here is the same content but each line in your code block has been slightly modified. An extra space character added at to the start of each line:

[code]
Your code block should

[2017-04-12 00:57] gitpitch commented on #44
Custom fonts, which includes Emoji fonts, are not supported. I'm closing this issue as will not fix.

[2017-04-12 00:57] #44 closed

[2017-04-13 21:02] dukedave commented on #55
@gitpitch great, that works, thanks for the quick reply.

[2017-04-14 00:59] #55 closed

[2017-04-14 22:39] dukedave opened #56 "Slideshow Speaker Notes support?"
This is a feature request:

So I assume it's okay, albeit not explicitly stated in the docs (to my knowledge) to include comments in a `PITCHME.md`, whether that be:

* [HTML comments](https://www.w3schools.com/html/html_comments.asp) or
* [Markdown hackery](http://stackoverflow.com/q/4823468/21115).

If so, then would you consider adding some kind of export where I can see a thumbnail of each sli

[2017-04-14 22:40] dukedave commented on #56
Something like [Jekyll's front matter](https://jekyllrb.com/docs/frontmatter/) could also work.

[2017-04-26 03:29] gitpitch commented on #56
Thanks for the feedback @dukedave nice idea. But right now this kind of speaker notes feature is not something I have the cycles for but I'll keep the issue open and get back to evaluating it when time permits.

[2017-04-27 06:52] light2yellow opened #57 "Enter Full-screen using mouse, too"
I use Vimium (this is a browser plugin) and it maps `f` to a particular task. Thus, there's no way for me to go full-screen without disabling this plugin. I suggest making the `[ Fullscreen:  Press F ]` text a clickable button.

[2017-04-27 06:56] VictorTomaili commented on #57
Same issue, Shortcuts must be usable with a mouse too. I use vimium too.

[2017-04-27 10:05] Y-Less opened #58 "Clicking right then pressing left on kitchen sink."
I was going through the kitchen sink example, clicking the right button all the way to the end.  When I got to the final page I instead pressed the left arrow key to go back and it didn't work.  If I press the right key from the penultimate page, the left key works.  If I click right on to any page not the last one then press left, the key works.  It is only clicking on to the final page then pres

[2017-04-27 10:10] Y-Less opened #59 "Permalinks"
It would be very useful to have links directly to one state of one slide on one commit (especially for submitting bugs) as then people can point to the exact part of the exact slide they want.  For example, I was going to post a bug, with an example from the kitchen-sink slide show.  Instead of being able to link to exactly which slide it happens on, I need to say that it is the 12th slide along,

[2017-04-27 14:54] gitpitch commented on #58
Hi @Y-Less thanks for the feedback. I just tried this in Chrome (57), Firefox (52), and Safari (10.1) and in all cases the navigation worked just fine.

To be clear, I used my touchpad mouse to click on the next-slide navigation icon moving right all the way to the final slide. Then when viewing the final slide, I used the keyboard left-arrow key to navigate back one slide to the penultimate slide

[2017-04-27 14:56] gitpitch commented on #57
Thanks for the feedback. I'll need to give this some thought to decide how best to deliver this kind of support but I do understand the issue. I'll update this thread when I know more.

[2017-04-27 16:30] dukedave commented on #56
Okay great!
I understand totally 😄

[2017-04-27 18:55] bernardobelchior1 commented on #57
I support this issue.
Your slides are beautiful on a phone, but there is no way to make them full screen.
A fullscreen button would not only be great for Vimium, but for smartphones as well.

[2017-04-28 01:04] gitpitch commented on #57
I've been thinking about this and would like to request some additional feedback from everyone.

Vimium users, imagine I provided a link or menu to allow you enable Fullscreen mode. How would you then exit from a full screen mode if you are navigating solely by mouse? Keep in mind that in Fullscreen mode there can be no links or menus to help you exit Fullscreen mode. So basically, how would you e

[2017-04-28 05:15] VictorTomaili commented on #57
How about html5 full-screen feature? Its works with links and on mobile phone too

[2017-04-28 05:49] larsbrinkhoff opened #61 "Improved syntax for fragments"
There could possily be a more convenient syntax for fragments.

If you make heavy use of fragments in most slides, the markdown becomes bulky, e.g.:

    # Numbers
    - 1
    - 2
    - 3

    ---

    # Letters
    - A
    - B
    - C

    ---

    # Metavariables
    - Foo
    - Bar
    - Baz

[2017-04-28 06:00] larsbrinkhoff commented on #61
A real-world example:

https://gitpitch.com/larsbrinkhoff/lbForth/pitch

[2017-04-28 08:06] light2yellow commented on #57
With Vimium one exits fullscreen with Esc. Phones are the whole other story, this issue is not about them, it's about desktop keymap being the only way to do things.

You might also consider another clickable element in fullscreen mode to appear when the mouse activity is registered.

[2017-04-28 08:28] VictorTomaili commented on #57
Mobile phones will be in this case because links are clickable on phones too. Also, mobile phones never stucks in fullscreen mode. Back button always works as esc key.  In this case, we need only fullscreen link on shortcut label. It's will be ok for all of us. There are too many websites uses fullscreen feature on mobile phones and web browsers. And they also have a link for fullscreen.

Besides,

[2017-04-28 10:28] mvdkleijn opened #62 "Is GitPitch for you? Sadly no.."
The readme asks "Is GitPitch for you?". It then proceeds with the answer, the first part of which is "...To colleagues, clients or customers..."

I don't know how to put this differently, but most of my colleagues and clients use in-house hosted repositories. Usually gitlab or bitbucket server (non-saas) with non-public repositories due to legal or pci compliancy requirements.

Would it be possibl

[2017-04-28 11:15] hu6360567 opened #63 "How to generate offline files offline?"
Hi,
   This project is amazing. I'd love to upload md to github repos, but I'd like to make every commit meaningful. Is there any way to generate web page before committing to github? So that, I would use gitpitch as a publish platform and keep git repo clean.

[2017-04-28 13:14] gitpitch commented on #63
Hi @hu6360567 I'm glad you're enjoying GitPitch. I have two options for you.

#### Option 1: Develop GitPitch presentation content in a feature branch

Simply create a feature-branch and do all of your `busy` work in that branch. Then when you are happy with your final presentation `PITCHME.md` and associated assets, merge your feature-branch back into your master making sure to use a `squash` on

[2017-04-28 13:19] hu6360567 commented on #63
Great! Thanks!

[2017-04-28 13:21] gitpitch commented on #63
Just fyi, I've also just added a [Clean Commit History](https://github.com/gitpitch/gitpitch/wiki/Clean-Commit-History) page to the GitPitch Wiki as it may be useful to others.

[2017-04-28 13:21] #63 closed

[2017-04-28 13:44] gitpitch commented on #62
Hi @mvdkleijn I do not see GitPitch supporting private repos anytime soon. However if your colleagues, clients, or customers are using GitLab CE internally then they are in luck. They do not need to use the service on [gitpitch.com](https://gitpitch.com), I simply provide that service as a gift to the open source community.

Instead, they can host their own GitPitch server in-house and use that se

[2017-04-28 18:43] Krever opened #64 "Local development mode"
Is it planned to support some way of using gitpitch without having to push commits into repository?

When developing the presentation it would be nice to be able to shorten the feedback loop.

Or maybe you could advice how hard it would be to add such feature to gitpitch server? I'm rather familiar with play framework so I may consider contributing if it's not very big change.

[2017-04-28 22:43] sammoorhouse commented on #56
I've been littering my slides with HTML comments which are (correctly!) ignored by the renderer, but it'd be great if a per-slide or presentation-level notes section could be shown by an alternative renderer.

One of the up-sides, for me, of having markdown as the golden source is that it forces you into a kind of "powerpoint-lite" model of presentation. You can't rely on reading the slides for di

[2017-04-29 00:47] gitpitch commented on #64
Hi @Krever check out [Developing / Testing Locally](https://github.com/gitpitch/gitpitch/wiki/Developing-Testing-Locally) on the GitPitch Wiki. This should give you one way to shorten the feedback loop.

[2017-04-29 03:50] onetapbeyond commented on #56
I've just activated the reveal.js speaker-notes feature for all GitPitch offline presentations. As I have not yet had time to update the Wiki here are the steps you need to follow in order to use this new feature. You can use a sample presentation that includes speaker-notes so you can see exactly how this works:

1. Add speaker-notes for some or all of your slides in your `PITCHME.md`
2. Once you

[2017-04-29 04:00] sammoorhouse commented on #56
Incredible.

[2017-04-29 04:37] Krever commented on #64
That's great, thanks! This solves my issue ;)

[2017-04-29 06:00] gitpitch commented on #64
Great. Closing issue as resolved.

[2017-04-29 06:00] #64 closed

[2017-04-29 06:09] gitpitch commented on #56
Thanks :) Btw, here is a screenshot for anyone reading this thread so they can get a sense of what's now available when you activate speaker-notes for any GitPitch offline presentation:

![speaker-notes-grab](https://cloud.githubusercontent.com/assets/19169584/25553430/fefe5074-2cdc-11e7-9892-d8d12f470854.png)

[2017-04-29 08:19] gitpitch commented on #56
Wiki has been updated with complete documentation for this [new speaker notes feature](https://github.com/gitpitch/gitpitch/wiki/Speaker-Notes-Window).

[2017-04-29 15:55] gitpitch commented on #61
Hi @larsbrinkhoff thanks for your feedback. You're absolutely right. So I've gone ahead and implemented a fragment syntax shortcut which should help. See the updated [Fragment Slides](https://github.com/gitpitch/gitpitch/wiki/Fragment-Slides) page in the Wiki.

I've also prepared a fragment feature demo presentation so you can see this new syntax live, just open the following link in your browser:

[2017-04-29 18:07] larsbrinkhoff commented on #61
That's great, thanks!

[2017-04-29 18:07] #61 closed

[2017-05-01 08:41] ahangchen opened #65 "How to disable white.css when I override theme?"
When I [override theme](https://github.com/ahangchen/slides/blob/master/PITCHME.yaml) in yaml，and access by [URL](https://gitpitch.com/ahangchen/slides/master) without theme, gitpitch uses white theme and my theme in the same time.

[2017-05-01 09:06] gitpitch commented on #65
If you are going to use @imports within your custom css then you must
specify an absolute url address. So the following import in your custom css
file will not work:

@import url(../../lib/font/league-gothic/league-gothic.css);

Also, the absolute url must can not point at a file in your git repository.
The resource must be properly hosted on an external server and that server
must return the appr

[2017-05-01 09:13] gitpitch commented on #65
You can read more about the need for absolute urls in custom css in the following [issue thread #21](https://github.com/gitpitch/gitpitch/issues/21).

[2017-05-01 10:42] ahangchen commented on #65
I replace the url for league-gothic.css by [this](https://d1z75bzl1vljy2.cloudfront.net/reveal.js/3.3.1/lib/font/league-gothic/league-gothic.css), but when I press F12, I still see white.css. I just want to adjust the width of blockquote, but my adjustment in my css was covered by the value in white.css

[2017-05-01 11:26] gitpitch commented on #65
If you want to change the default theme for your presentation then you must add a `theme` property to your `PITCHME.yaml` file. See the [Theme-Setting](Theme Setting) page on the Wiki for further details. If you do not add this property to your `PITCHME.yaml` file your presentation will default to using the `white` theme.

You do not (and should not) replicate the entire theme css in your custom P

[2017-05-01 11:36] ahangchen commented on #65
- the link you provided are 404 not found.
- [Theme Setting](https://github.com/gitpitch/gitpitch/wiki/Theme-Setting) mentions that we need to set the theme property if we want to use one of six themes, but doesn't mention that we need to set the property when we want to use custom theme. I think that's not clear for the wiki.
- [Custom Theme Wiki](https://github.com/gitpitch/gitpitch/wiki/Slidesh

[2017-05-01 11:41] gitpitch commented on #57
Keyboard shortcuts: fullscreen, overview, and blackout are now all exposed as links in the main presentation window. Open any presentation and the links should appear in the bottom-left corner of the window.

While I have been able to test this in my own browser I have not been able to test with a mouse or using Vimium. So I would appreciate feedback from everybody once you have had a chance to te

[2017-05-01 11:48] gitpitch commented on #65
@ahangchen the links in my earlier comment have been fixed.

I've updated the Custom Theme wiki text to include your clarification: "...overrides any properties that you want to change...".

As for the Theme Setting page. I will have to give it some further thought to decide how best to clarify the text. Thank you for your feedback.

[2017-05-01 12:05] ahangchen commented on #65
Got it.

[2017-05-01 12:47] #65 closed

[2017-05-01 13:01] light2yellow commented on #57
`Fullscreen - Overview - Blackout` trio now works, however it'd nice if `Help` in the right bottom corner is made clickable too.

Otherwise, I consider this to be worked out and you can close the issue anytime.

[2017-05-01 23:18] miguescri opened #66 "Elements overflowing slide"
I've encountered problems with elements, such as vertical images and tables, going through the lower limits of the slide and, therefor, being imposible to be seen in any way. Worst thing is, when I try to print the pitch as PDF, those elements that were invisible at the slide now overflow the next one.

I see two solutions:

- Code snippets handle overflow in a nice way, allowing you to **scroll b

[2017-05-02 11:36] ahangchen commented on #66
I think this is caused by that max-height for the image is not working.

[2017-05-02 11:39] ahangchen commented on #43
I found that export pdf on server loss fonts for Chinese, while Chinese are supported when viewed on the browser.
What's more, why export pdf on browser doesn't split the slides.

[2017-05-02 14:54] Nastybastard commented on #66
They fixed it

[2017-05-02 23:00] gitpitch commented on #66
Do you mean it has been fixed in reveal.js? If so, in what release?

[2017-05-02 23:04] gitpitch commented on #43
Chinese fonts are not currently installed on the `gitpitch.com` server which is why exporting to PDF on the server does not render those fonts.

The preview you see in your browser window when exporting to pdf in the browser often shows the content without separation between slides. But if you go ahead and save the PDF to disk the save presentation will sometimes still render correctly. Can you tr

[2017-05-02 23:08] miguescri commented on #66
I had those problems yesterday night. Has there been a fix since then?

*Miguel Escribano*

2017-05-03 1:00 GMT+02:00 David Russell <notifications@github.com>:

[2017-05-02 23:15] gitpitch commented on #66
There have been updates yesterday to GP but nothing that should affect image rendering. If anyone has a presentation that is still experiencing problems rendering images can you please provide links here on this thread so I can investigate. Thanks.

[2017-05-02 23:48] miguescri commented on #66
Seems like something has changed, because now some of my images resize
properly, but other doesn't.

https://gitpitch.com/miguescri/dummy/master?grs=gitlab&t=white

*Miguel Escribano*

2017-05-03 1:15 GMT+02:00 David Russell <notifications@github.com>:

[2017-05-03 00:45] ahangchen commented on #66
@gitpitch https://gitpitch.com/ahangchen/slides/master
As shown in the above Slides in page 5, my image is overflow vertically.
and in page7, my sentences are overflow horizontally in full screen mode.
It seems that the whole slides has somewhere setting larger left margin than right margin.

[2017-05-03 00:50] ahangchen commented on #43
When use "export pdf on browser", there are no any buttons on the page to save the PDF to disk. If you means CTRL+P to print it. The slides has separation again, but doesn't contain background and many other CSS.

[2017-05-03 01:34] gitpitch commented on #66
@miguescri and @ahangchen I have created PRs for both of your presentation repos, updating your presentation markdown and configuration to use [slide background images](https://github.com/gitpitch/gitpitch/wiki/Image-Slides#background) and the [background setting](https://github.com/gitpitch/gitpitch/wiki/Background-Setting) which lets you take control of image scaling on your slides.

As for the

[2017-05-03 01:53] gitpitch commented on #43
@ahangchen there are indeed no buttons on the page but there are instructions on the GitPitch Wiki for how you "export pdf on browser", [see here](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Printing). You start with CTRL+P.

As for printing your specific presentation, I have no immediate solution I can give you on `gitpitch.com` so if this is critical path for you then you may need to use

[2017-05-03 02:27] ahangchen commented on #43
@gitpitch My pdf generated on server has the same look with your version.

The characters missed are all Simplified Chinese, the characters can be presented are all shared between Traditional Chinese and Simplified Chinese. I think this a problem about fonts, maybe your fonts on server only support Traditional Chinese. Most Chinese use Simplified Chinese and usually fonts supporting Simplified Chi

[2017-05-03 02:36] gitpitch commented on #43
@ahangchen thanks for this feedback, very helpful. I am now trying to find out how I can install font support on a Ubuntu 14 server for Simplified Chinese. If you or any of your colleagues know how to install these fonts (at the command line) on Ubuntu 14 can you please let me know here so I can apply that update.

[2017-05-03 02:50] ahangchen commented on #43
Down the fonts: xx.ttf

[code]

Maybe this [reference](https://wiki.ubuntu.com/Fonts) will also help.

[2017-05-03 02:52] gitpitch commented on #43
Thanks. I've already applied a number of east Asian fonts on my staging server and will test shortly. If those tests are successful I will apply the same patches on `gitpitch.com`. I'll update this thread once I have the results of this stage testing.

[2017-05-03 02:59] gitpitch commented on #43
Ok @ahangchen can you please review the attached PDF and let me know how it everything looks.
[PITCHME.pdf](https://github.com/gitpitch/gitpitch/files/972381/PITCHME.pdf)

[2017-05-03 03:09] gitpitch commented on #43
The production server `gitpitch.com` has been updated with support for Chinese (both Simplified and Traditional), Japanese and Korean fonts. @ahangchen if can can view and confirm your presentation is now correctly rendering all Simplified Chinese characters from `gitpitch.com` then I will close this issue as resolved.

[2017-05-03 03:18] gitpitch commented on #36
@terrywbrady  Quick update to this old thread. Due to the recent introduction of the new [Speaker Notes](https://github.com/gitpitch/gitpitch/wiki/Speaker-Notes-Window) feature the key binding to select code within code blocks on a slide has been changed from the 's' key to the 'x' key. The new speaker notes feature has taken over the 's' key. Just fyi.

[2017-05-03 04:36] ahangchen commented on #43
Yes my slides now is correctly rendering all characters. Thank you. :smile:

[2017-05-03 04:44] ahangchen commented on #66
For the image vertical overflow, now most of the image can be presented, but it's still a little larger than the screen.

For the text overflow, although it seems OK in normal mode, but look at the page 1, you can notice the left margin of the title is larger than right margin. The title is not strictly in the center of the page. I think this is the reason and this point will be magnified in full

[2017-05-03 07:39] gitpitch commented on #66
If your image is still overflowing when using background images with auto-scale the next thing you can try resizing it the image, reducing it's width/height proportionally by 15% or 20%.

As for text overflow, I have not had time to test but are you sure your own custom css is not causing the title to be rendered off center?  A simple test would be to disable the `theme-override` property in your

[2017-05-03 07:40] #43 closed

[2017-05-03 13:50] ahangchen commented on #66
I find that the style of the class slide set left 50% and right auto. When I set

[code]

The title is not in the center. Now I remove this attribute and get a fine result. But I need to try other attribute for custom slides padding.

[2017-05-03 14:29] gitpitch commented on #66
Can you please clarify, was the off center alignment problem that you originally reported caused by some conflict between the base theme and your own custom css? I would like to clearly understand the issue as best I can. Thanks.

[2017-05-03 15:32] ahangchen commented on #66
I think it's cause by the conflict between this attribute

[code]

and the moon theme.

[2017-05-03 16:12] gitpitch commented on #66
@ahangchen a worthwhile test you can try is to revert back to using revealjs v3.3.1 by updating the property in your `PITCHME.yaml` file as follows:

[code]
Note, I've simply commented out the revealjs property which will cause your presentation to be rendered by the default revealjs version, which is `3.3.1`. If there is a conflict as you described it may have crept into the 3.4.1 release. Please

[2017-05-03 16:54] terrywbrady commented on #36
@gitpitch , thanks for the alert.  Could you update the on-screen help info for keyboard shortcuts to reflect this change?  I still see the old documentation for the "s" key.

[2017-05-03 16:58] gitpitch commented on #36
Re-opening this issue as a reminder to myself that the on-screen help needs to be updated to reflect speaker-note and copy-code key changes.

[2017-05-03 17:00] gitpitch commented on #62
Closing this issue for now as resolved.

[2017-05-03 17:00] #62 closed

[2017-05-03 17:01] #56 closed

[2017-05-04 10:54] ahangchen commented on #66
Commenting the revealjs property doesn't work. Actually, I have this problem before your PR on revealjs property for the image overflow problem.

[2017-05-04 15:17] zombiefungus opened #67 "Support for task lists?"
Hi, It seems to be that

- [ ] checklists

aren't showing as in github in gitpitch

Is there any plan to integrate them? (Is there any way for me to help with that?)

Thanks!

[2017-05-05 03:22] gitpitch commented on #67
Hi @zombiefungus thanks for getting in touch. So GitHub task lists are not a feature of GitHub Flavored Markdown (GFM) they are a feature of the GitHub service itself. GitPitch renders GFM. So GitPitch will render lists and checkboxes just fine but you can not click on them like an interactive task list on GitHub. The syntax you are trying to use will appear in a presentation as follows:

![task-l

[2017-05-05 03:22] #67 closed

[2017-05-10 22:47] orclev opened #68 "GitPitch Offline mode not working"
Clicking on the offline link from any presentation results in an error page saying that offline mode is currently unavailable.

Unfortunately it appears as if the speaker notes feature can not be used except in offline mode.

Ideally speaker notes would be usable even in online mode, but barring that it would be nice if offline mode was either fixed, or else if there was some kind of documentation

[2017-05-11 03:46] gitpitch commented on #68
Hi @orclev thanks for reporting this problem and sorry for the inconvenience. It turns out one of the SSL certs on the gitpitch.com server had literally just expired and was causing some trouble for a number of the backend services, including the offline service. I've just fixed the problem and all services, including offline, should now be back up and running.

Speaker notes are dependent taking

[2017-05-11 03:46] #68 closed

[2017-05-11 14:37] orclev commented on #68
Thanks, looks like it's working now. It's unfortunate that speaker notes can't be made to work in online mode, but I understand that there are technical reasons that make that difficult.

[2017-05-12 11:19] larsbrinkhoff opened #69 "Multiple presentations in one repo?"
Is is possible to have more than one presentation in a repository, without branching?

[2017-05-12 11:59] gitpitch commented on #69
Hi @larsbrinkhoff absolutely, take a look at the [Asset Sharing](https://github.com/gitpitch/gitpitch/wiki/Asset-Sharing) and [Modular Markdown](https://github.com/gitpitch/gitpitch/wiki/Modular-Markdown) pages on the GitPitch Wiki for details.

[2017-05-12 12:30] larsbrinkhoff commented on #69
Great, thanks!

[2017-05-12 12:30] #69 closed

[2017-05-14 21:22] rpappu opened #70 "Latex subscripts with longer strings don't work as expected"
When we use longer strings in subscripts, rendering is incorrect.

For example,

$$ P_t = P_d + P_s + P_l$$

renders as intended, whereas

$$P_{total} = P_{dynamic} + P_{sc} + P_{leak}$$

Both of them render correctly in an online Latex previewer like http://quicklatex.com/.

[2017-05-15 01:31] gitpitch commented on #70
Hi, do you have a sample presentation you can share that demonstrates the problem you've described?

[2017-05-15 13:15] rpappu commented on #70
Here's the link to a sample presentation.

https://gitpitch.com/rpappu/GitPitchTest

Slide 1 renders correctly, while Slide 2 does not.

Source is here.

https://github.com/rpappu/GitPitchTest

[2017-05-17 15:06] gitpitch commented on #70
Hi @rpappu the issue is the use of underscores within your formula and its interaction with the Markdown preprocessor. Basically, you need to escape the underscores by changing:

[code]
To this:

[code]

Please try this out in your presentation and let me know how it goes.

[2017-05-17 15:07] gitpitch commented on #58
Closing as no further information provided and not reproducible.

[2017-05-17 15:07] #58 closed

[2017-05-17 15:13] rpappu commented on #70
Yep...that works. Wasn't aware of the \-escape....I'll close this issue now. Thanks!

[2017-05-17 15:13] #70 closed

[2017-05-18 12:50] sandhawke opened #71 "Links usually result in infinite-wait"
When I have links in my slides, just as bare http://whatever, or markdown, or a-href, and I click on them during the slideshow, it begins the gitpitch-is-working animation and just stays there.

Once, I saw it actually load the page, framed.     But generally, no.   (And I'm on a fast machine on a fast network.)

Seen on  Firefox/UIbuntu 17.04 (Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53.0) Geck

[2017-05-18 15:52] gitpitch commented on #71
Hi @sandhawke thanks for the feedback. Apologies for the links issue. The good news is that there is a very simple solution. You need to use a HTML anchor identifying `target="_blank"`, for example:

[code]

The reason is simple and I definitely need to spell this out on the Wiki. Every GitPitch presentation is rendered within an iframe within the GitPitch landing page. So the only way to redirect

[2017-05-18 16:03] sandhawke commented on #71
Thanks, yeah, I didn't think to try target="_blank"

But...  in general I'm okay with it being displayed in the iframe, as long as it's displayed.  I guess the problem is that gitpitch is thinking anything I link to needs to be converted from gitpitch html to slides?

That's challenging.

Best dirty hack I can think of: only assume you're supposed to transform .md URLs.  Have some flag in the HTML

[2017-05-18 16:06] gitpitch commented on #71
Absolutely. I know I need to update the preprocessing on the markdown. When I do this should become a non issue, markdown links will just-work as expected. I'll try get to this soon. Until then, the only workaround I can give you is `_blank` when using an anchor.

[2017-05-18 17:11] sandhawke commented on #71
Understood.   I used that, and now the slides work fine.   (Of course, my presentation is already over, but it's possible folks will look at the slides later, so I fixed them.)

[2017-05-19 10:54] gitpitch commented on #71
Issue resolved by 580b972d6d8fa4cdcc9ac7a4b03be6cc96573290. Using explicit HTML anchors as a workaround is no longer required. GitPitch presentation markdown can now use regular Markdown link syntax and those links with automatically open into a new tab/window when clicked/tapped.

[2017-05-19 10:54] #71 closed

[2017-05-19 15:59] gitpitch commented on #71
Support for implicit Markdown links has just been added. And implicit Markdown link is simply a HTTP url that appears at the start of any line in the `PITCHME.md` file without any further syntax or annotation, for example:

[code]

Implicit Markdown links will automatically open into a new tab/window when clicked/tapped.

[2017-05-25 16:07] dougtoppin opened #72 "Offline PITCHME.zip file does not appear to include repo subdirectories"
In my repo I created an assets directory to hold images contained in the presentation. When I select Offline the PITCHME.zip file generated and downloaded does not appear to include my assets subdirectory and content. Should it be in there as well?

[2017-05-25 16:13] gitpitch commented on #72
@dougtoppin can you provide a link to your presentation?

Any image dependencies that GitPitch finds within your presentation markdown should appear within the `assets/md/assets` directory when you expand the offline zip archive for your presentation.

If those assets are missing then you presentation would not render as expected. Is your presentation no rendering as expected offline?

[2017-05-25 17:27] dougtoppin commented on #72
Repo is https://github.com/dougtoppin/presentation-splunk-docker
I checked the download and can see the PITCHME/assets/md/assets/ directory but nothing is in it.

[2017-05-26 01:52] gitpitch commented on #72
I've just used gitpitch.com to down your presentation. When I expanded the offline bundle I could see the following files:

![archive-assets](https://cloud.githubusercontent.com/assets/19169584/26477397/9e9d8a92-41ef-11e7-8230-34472e971782.png)

The image assets dependencies for your presentation are clearly there. And the presentation itself renders as expected:
![presentation-offline](https://cl

[2017-05-26 02:56] dougtoppin commented on #72
This is strange, I downloaded the offline pitch zip file maybe 3 times today and each time none of the assets files were in it. I just did it again a few minutes ago and they appeared. I do not have any explanation for it.
Sorry about the false report. Not sure what could cause it.

[2017-05-26 02:56] #72 closed

[2017-05-26 03:00] gitpitch commented on #72
No problem @dougtoppin if you encounter anything unexpected please feel free to let me know anytime.

[2017-06-01 09:06] #57 closed

[2017-06-02 13:32] tuxedogold opened #73 "slow to update"
love git pitch and love the idea. UX frustration I have is when making changes, I make them rapidly and test, like any other coding. the issue is that it takes a few minutes at minimum to update to git-pitch, making the slide building process painful if you're doing anything with more complex markdown.  Is there a simple way to view or preview the content in real time?

[2017-06-02 15:11] gitpitch commented on #73
Hi @tuxedogold really glad you are enjoying using GitPitch and thanks for your feedback.

So if you are experiencing a delay of a couple of minutes before seeing your changes reflected in your online presentation then I suspect you are developing your presentation in your **master** branch. If you developed your presentation in a **feature** branch (any branch other than master) then you would see

[2017-06-04 04:10] terrywbrady opened #74 "Issue with Code Fragment Highlighting"
I am returning back to GitPitch, and I see that you have added several great features to re-use code assets.  The new transition and fragment syntax is awesome.

In the following presentation: https://gitpitch.com/terrywbrady/tbDemo/test

I am seeing inconsistencies in the code fragment highlighting feature.
* Slide 2.4 does exactly what I want with code fragments
* Slide 2.3 displays fine until I

[2017-06-04 08:59] gitpitch commented on #74
Hi @terrywbrady good to hear from you. The issue you are facing here results from an attempt to embed HTML code (header.php) within a HTML page (your presentation) without first escaping the HTML content to be embedded.

To embed HTML inside a code block (which is what happens using code-presenting) you need to escape all angle brackets: < and >.

I tried that by making a fork of your presentation

[2017-06-04 13:10] gitpitch commented on #74
@terrywbrady I've just submitted a [PR on your test repo](https://github.com/terrywbrady/tbDemo/pull/1) that incorporates a workaround to the HTML escaping issue reported on this thread. This workaround simply wraps the markup files you are importing within a CDATA block to prevent that content being parsed/rendered as page content.

A complete solution within GP would obviate the need for this CD

[2017-06-06 05:52] lukehsiao commented on #66
I'm seeing this problem as well for vertical images. Is there any way to implement the scaling options that are available for background slides for normal image slides?

[2017-06-06 06:53] gitpitch commented on #66
@lukehsiao can you please provide a link to your presentation and indicate each slide where you are experiencing a rendering problem. Thanks.

[2017-06-06 07:29] lukehsiao commented on #66
@gitpitch Slide 3 found here: https://gitpitch.com/jervisfm/rebbr/dev

[2017-06-06 16:28] gitpitch commented on #66
@lukehsiao thanks for the link.

The image on your 3rd slide is taller than it is wide which gives it the opposite aspect ratio to the slides in your presentation which is wider than they are tall. This is the root cause of your rendering issue.

**Recommended Approach:**

To overcome this problem you will will have to force your image to be `contained` within your slide by using the `background-s

[2017-06-06 17:17] lukehsiao commented on #66
Thanks for the thorough answer and quick responses!

[2017-06-06 17:32] lukehsiao commented on #66
Can you point me to the wiki page which discusses how to use the `background-position` option? I see it mentioned on the [Background Setting](https://github.com/gitpitch/gitpitch/wiki/Background-Setting) page, but don't see how it is used.

[2017-06-06 18:18] terrywbrady commented on #66
Adding to this thread, I would find it handy to have the background-size setting honored in full screen mode.  See slide 2.6 of https://gitpitch.com/terrywbrady/tbDemo/test.  Ideally, I would like to set background-size to either auto or contain provided the setting would also apply in full screen mode.

[2017-06-06 20:15] lukehsiao commented on #66
@gitpitch: while the background workaround works for the vertical image in the slideshow, when a PDF is generated, the image on slide 3 is no longer correctly scaled and bleeds off of the edges of the slide. Is there a way to fix this?

[2017-06-07 03:03] gitpitch commented on #66
@lukehsiao the `background-size` option in your `PITCHME.yaml` file allows you to control the [background-size css property](https://developer.mozilla.org/en-US/docs/Web/CSS/background-size) on your background images.

As you can see if you follow [the link](https://developer.mozilla.org/en-US/docs/Web/CSS/background-size) to the css docs this property gives you a lot of control on how your image

[2017-06-07 04:51] gitpitch commented on #66
Quick update for anyone following this thread and interested in how to scale or size images within a given slide in a GitPitch presentation.

I've just pushed new support (live on gitpitch.com) for custom scaling/sizing when working with [background image slide delimiters](https://github.com/gitpitch/gitpitch/wiki/Image-Slides#background).

A new `size` parameter can be specified on the `---image?

[2017-06-07 07:05] lukehsiao commented on #66
@gitpitch Fantastic! Thanks!

[2017-06-07 14:08] gitpitch commented on #74
A few days ago I gave you a workaround to the rendering issue you reported on this thread. Now I have a fix for you and that fix is live on gitpitch.com and you can make the necessary changes to your repo to avail of the fix.

### The Fix
A new option is now supported on code delimiters. That option allows you to provide a language hint to GitPitch (and the [highlight.js library](https://highlight

[2017-06-07 15:35] terrywbrady commented on #66
@gitpitch , this sounds like a great option.  I am eager to experiment with this as I enhance my presentation.  Thank you.

[2017-06-07 16:59] terrywbradyC9 commented on #74
@gitpitch , this works beautifully for me.

So far, I have just fixed my existing files.  I will be creating more elaborate samples soon, and this will be especially helpful as the files get larger.  The ability to annotate sections as they are highlighted is awesome.

Thank you.

[2017-06-08 00:46] gitpitch commented on #74
Great @terrywbrady glad this fixed your problem and you are enjoying the new code-presenting feature. Closing this issue as resolved.

[2017-06-08 00:46] #74 closed

[2017-06-08 01:56] gitpitch commented on #66
The wiki has been updated to reflect the new image sizing and scaling support, [see here](https://github.com/gitpitch/gitpitch/wiki/Image-Slides#slide-image-sizing--scaling).

Closing this issue as resolved.

[2017-06-08 01:56] #66 closed

[2017-06-08 02:38] gitpitch commented on #74
For any future visitors to this thread, just updating here with a link to the [new documentation on the Wiki](https://github.com/gitpitch/gitpitch/wiki/Code-Delimiter-Slides#code-highlighting-language-hint) for working with _language-hints_ when using code-delimiters.

[2017-06-09 10:45] akarsh opened #75 "Task Lists are not shown"
I am not able to see task lists in the slides.
Following the the markdown on how to show ![Task Lists](https://guides.github.com/features/mastering-markdown/)
In the github it works as expected. But, it in the slides it is not the same.
Here is out ![PITCHME.md](https://github.com/akarsh/TUPJNOSQL17/blob/master/PITCHME.md) file

Help appreciated.

Thank you

[2017-06-09 10:58] gitpitch commented on #75
Hi @akarsh I'm going to close this issue as a duplicate of #67. The short answer, task lists are a feature of the GitHub service, not of GitHub-flavored markdown. So they are not supported by GitPitch.

[2017-06-09 10:58] #75 closed

[2017-06-09 11:38] akarsh commented on #75
Okay
I will use GFM editor. I was using preview feature of github to see the style.
I will skip Task Lists.
Thanks @gitpitch

[2017-06-09 15:59] gitpitch commented on #73
Assuming issue caused by developing presentation content in `master`. Issue explained and resolved by  caching policy and `feature-branch` best practices. Closing this issue as resolved.

[2017-06-09 15:59] #73 closed

[2017-06-11 04:06] gitpitch opened #76 "Update GitLab support to use API v4"
Since GitLab 9.0, API V4 is the preferred version to be used. API V3 [will be removed in GitLab 9.5](https://docs.gitlab.com/ce/api/v3_to_v4.html), to be released on August 22, 2017. Therefore GP needs to be updated to use the new v4 API.

[2017-06-12 19:17] EvgenyOrekhov opened #77 "Vertical slide breaks the `data-background-transition=none` comment fragment"
Adding a vertical slide below the one that has a `data-background-transition=none` comment fragment makes GitPitch ignore that comment fragment.

Example presentation: https://gitpitch.com/EvgenyOrekhov/talks/gitpitch-transition-bug
Presentation's repo: https://github.com/EvgenyOrekhov/talks/tree/gitpitch-transition-bug

Browser: Google Chrome 59.0.3071.86
OS: Lubuntu 17.04

[2017-06-13 04:40] gitpitch commented on #77
Hi @EvgenyOrekhov

I need some additional clarification from you.

### 1. Use PITCHME.yaml For Global Presentation Settings

I see you are using a  `PITCHME.yaml` where you are attempting to set a global `transition` property for your presentation. However, the syntax used in your `yaml` file doesn't look right, you appear to be using `json-object` syntax, not yaml syntax. The correct way to set t

[2017-06-13 08:24] EvgenyOrekhov commented on #77
@gitpitch

1. [YAML 1.2](http://www.yaml.org/spec/1.2/spec.html) is a superset of JSON, so any valid JSON is also a valid YAML. Changing JSON to YAML doesn't affect the bug: [presentation](https://gitpitch.com/EvgenyOrekhov/talks/gitpitch-transition-bug-1) ([repo](https://github.com/EvgenyOrekhov/talks/tree/gitpitch-transition-bug-1)).

2. The global `transition=none` doesn't affect image slides a

[2017-06-13 09:04] gitpitch commented on #77
@EvgenyOrekhov thanks for the additional details and test cases.

1. Good to know. Not something I've ever tested before.

I'll look into issues 1, 2, and 3 and then update this thread once I know more.

[2017-06-13 09:56] cbenz opened #78 "Document PgUp and PgDown keys"
Hi @gitpitch

Thanks again for this wonderful tool!

I noticed completely by chance, that pressing PgUp and PgDown would navigate to the next slide, taking into account the 2 dimensions. It will correspond either to DownArrow key, or RightArrow, depending on the availability of a down slide.

The help screen does not mention it:
![image](https://user-images.githubusercontent.com/12686/27077008-0df

[2017-06-14 02:04] gitpitch commented on #77
@EvgenyOrekhov the transition setting was not being applied to slides with image backgrounds which explains the problems you reported. That has been fixed b677b3b4313be5826166f8d60ab0d4970fd1a57f and this patch is already live.

When you have a chance can you please test, verify and close issue if satisfied.

[2017-06-14 02:06] gitpitch commented on #78
Thanks for this suggestion @cbenz , it's a good idea. I'm just adding this note for myself that this change should be made in tandem with a fix for issue #36 which also needs to update the in-presentation help.

[2017-06-14 08:41] EvgenyOrekhov commented on #77
@gitpitch All cases are fixed! Thanks!

[2017-06-14 08:41] #77 closed

[2017-06-14 09:52] James-DBA-Anderson opened #79 "Embedding multiple presentations on the same page."
I embedded two presentations on a single page. When using the arrow keys to navigate the slide of one of the presentations I found that the controls did a round robin of the two presentations.

Clicking the right arrow would move presentation 1 to slide 2. Clicking it again would move presentation 2 to slide 2 and clicking it again would move presentation 1 to slide 3.

Is there a way to focus the

[2017-06-14 13:26] gitpitch commented on #79
Hi @James-DBA-Anderson there is no auto-magic way for this to happen but I've just implemented something that should give you the building blocks you need to do this easily.

So I've just added support for a new API on presentations, exposing two functions `enableEvents()` and `disableEvents()`.

Assuming you are embedding two or more presentations using iframes [per the Wiki](https://github.com/g

[2017-06-14 20:59] terrywbrady opened #82 "CRLF lost when copying code fragment (in Firefox and IE)"
The following presentation demonstrates this issue.

https://gitpitch.com/terrywbrady/tbDemo/gitpitch

Is there a work-around you could suggest?

[2017-06-15 14:08] gitpitch commented on #82
Hi @terrywbrady is this a regression, was this working for you before? It may be caused by some of the changes I made to support the new [code-presenting](https://github.com/gitpitch/gitpitch/wiki/Code-Presenting) functionality. And if so there may be a simple fix, using explicit [language hints](https://github.com/gitpitch/gitpitch/wiki/Code-Delimiter-Slides#code-highlighting-language-hint) for y

[2017-06-15 15:26] terrywbrady commented on #82
@gitpitch ,

I see the same behavior in your demo presentation.  The EOLs are preserved in Chrome but not in Firefox or IE.  I do believe that this process worked for me in the past in Firefox.  It has been a couple months since I used the presentation that relied on the code copying functionality.

I tried a variety of lang settings with my CSV data, and changing the lang did not seem to help the

[2017-06-15 15:44] gitpitch commented on #82
@terrywbrady I've tested your sample presentation and my own demo presentation on Chrome and Safari and all worked fine. But I can reproduce the problem you reported on Firefox. I don't have access to IE.

I do not have any solution or workaround for you on Firefox or IE.

[2017-06-19 20:23] terrywbrady commented on #82
@gitpitch , thanks for the follow up on this.

I can avoid using Firefox when I give this presentation, but for folks who view the presentation it may not be apparent that copy/paste may not work across browsers.

Would it be possible to provide a hyperlink citation to the raw code file when displaying a code fragment?  This would allow a presentation view to retrieve a source file with line break

[2017-06-22 21:58] bergercookie opened #83 "Exporting background/inline images in generated PDF"
Seems that, by default, the PDF generation, skips the background images that I have placed in my presentation. Is there an option (e.g., in the yaml file) to alter this?

fwiw, I had a similar issue with the rendering of MathJax equation in PDF, but I followed the instructions provided in [this issue](https://github.com/gitpitch/gitpitch/issues/45) and dealt with it.

The presentation at hand can

[2017-06-23 01:54] gitpitch commented on #83
Hi @bergercookie thanks for your feedback. So background images should appear in the PDF, they are not purposely skipped by default. But there is definitely a problem here when using the `Generate PDF in Browser` option. And I have just reproduced this problem using another presentation so this is a general problem, not one specific to your presentation.

I do not have a fix for you at this moment

[2017-06-23 02:34] gitpitch commented on #82
Hi @terrywbrady I've been looking into this and the problem is definitely caused by how I am handling end-of-line characters within recent changes to support the code-presenting feature. I'm still not sure why this exhibits in some browsers but not others. I do not have a fix or workaround for you right now but it's on my to-do list.

I'm honestly not convinced it makes sense for GP to auto-inject

[2017-06-23 07:40] bergercookie commented on #83
Thanks for your prompt response to this @gitpitch.
Let me know, should this be resolved.

[2017-06-23 14:56] bergercookie opened #84 "Presenter-mode in online presentation"
The "Speaker Notes" capabilities available in revealjs 3.4.x would be quite useful in case of an actual presentation. However as [this wiki post](https://github.com/gitpitch/gitpitch/wiki/Speaker-Notes-Window) states, they are only available in the offline mode. However, when running in the latter, videos and, in general, out-of-repo online resources are not available. Could the "Speaker Notes" op

[2017-06-23 15:40] gitpitch commented on #84
Hi Nikos @bergercookie, thanks for this feedback. This feature request is a good one and I understand why it would be a nice addition. But currently I have no plans to add support for speaker notes for online presentations as the technical challenges/complexity it would introduce would be significant.

For most use cases, it is hard at this time (if not entirely impossible) to justify that effort

[2017-06-23 15:40] #84 closed

[2017-06-23 15:54] bergercookie commented on #84
OK, @gitpitch, I appreciate the feedback. :-)

On Fri, Jun 23, 2017 at 6:40 PM David Russell <notifications@github.com>
wrote:

--
Nikos Koukis
School of Mechanical Engineering
National Technical University of Athens
nickkouk@gmail.com
+30 6985827375

[2017-06-23 21:54] borismod opened #85 "Set vertical-center per slide"
Hello

I would like to set vertical align for a specific slide to off, but for the rest to on.

How can I do it?

[2017-06-23 23:11] gitpitch commented on #79
@James-DBA-Anderson did you get a chance to try out these new APIs to control which of your multiple embedded presentations on-a-page received keyboard focus?

[2017-06-23 23:49] gitpitch commented on #85
Hi @borismod thanks for getting in touch. You can not turn vertical-center alignment off on a slide-by-slide basis as you might hope. But you can turn vertical-center alignment off for your entire presentation and then you can turn vertical-center alignment on, on a slide-by-slide basis.

The end result is you get exactly what you want: some slides will use vertical-center alignment, and some will

[2017-06-24 12:10] borismod commented on #85
@gitpitch hello and thank you for quick reply.

I tried it and it does not work for me: all the slides are vertically centered.

Moreover, the markdown file looks cluttered with multiple "slide" directives.

Is there any chance it vertical alignment will be enabled per slide?

[2017-06-24 12:18] gitpitch commented on #85
@borismod can you provide me with a link to your presentation so I can investigate. Thanks.

[2017-06-24 13:45] gitpitch commented on #85
Hi @borismod while I await a link to your presentation to investigate the problem you reported you can take a quick look at the following sample presentation that I just created to demonstrate this feature working as described.

You can view [the sample presentation here](https://gitpitch.com/gitpitch/feature-demo/per-slide-alignment).

As to your question:

This is the default setting within the

[2017-06-25 07:48] gitpitch commented on #83
Hi @bergercookie this issue has been resolved and the fix is live. As a consequence of this fix when you use the `Generate PDF in Browser` feature you should now see all of your background images and you can also avail of the nice fonts when rendering MathJax formula.

This is an important fix for everyone using this service so thank you again for reporting it. Whenever you can verify the fix we c

[2017-06-25 08:10] gitpitch commented on #45
Hi @boileaum a fix has just been pushed for the `Generate PDF in Browser` feature that should address all of the issues raised on this thread, including solving the outstanding problem printing the sample presentation with MathJax formulas that you provided.

Now closing this issue as resolved.

[2017-06-25 08:10] #45 closed

[2017-06-25 08:52] bergercookie commented on #83
Hi @gitpitch,

Great! Thanks for getting back to this so soon!
Indeed, exporting images works correctly now.

Thanks for noticing!

Closing this...

[2017-06-25 08:52] #83 closed

[2017-06-29 17:32] Kjwon15 opened #86 "Code presenting problem"
If there are more than 1 code block in a slide, code presenting is malfunctioning.

example:

[code]

All of code fragment is highlighting first code block.
The second one should be highlight second block.

[2017-07-03 05:47] gitpitch commented on #86
Hi @Kjwon15 code-presenting only supports a single code-block per slide. So you will need to:

1. Create a single code block:

[code]

And then create a set of code-delimiter markers under this single code-block, like this:

[code]

2. Or you will need to split your two code samples onto two different slides.

[2017-07-03 08:00] boileaum commented on #45
Great, thank you! I may now advertise gitpitch to my coworkers (who are mathematicians)!
As soon as I have time for it, I will test a private instance of gitpitch in our lab.

[2017-07-04 08:06] AlexanderWright opened #87 "Please add logo positioning"
Would it be possible to add a logo position setting? e.g. logo-position: top-right

[2017-07-05 08:42] AlexanderWright commented on #87
Hey, It's open source!

He's a pull request: https://github.com/gitpitch/gitpitch/pull/88

[2017-07-13 21:46] fkromer opened #89 "Highlighting multiple separate code lines"
Could you add support for highlighting multiple separate lines (no line range). (The code-fragment marker syntax seems not to support that yet. E.g. `@[5,9]` could be suitable...)

[2017-07-18 22:09] #87 closed

[2017-07-20 19:17] #86 closed

[2017-07-20 19:19] gitpitch commented on #85
Closing issue for now as solution provided in thread. Issue can be opened again if example presentation that can demonstrate issue is provided.

[2017-07-20 19:19] #85 closed

[2017-07-20 19:20] #79 closed

[2017-07-20 19:22] fkromer opened #91 "Open private slides on local server"
Is it possible to open slides from a private github repository on a local gitpitch server? (It would be helpful to edit slides locally before making them public.)

[2017-07-20 19:46] gitpitch commented on #91
Hi @fkromer. No, only `PITCHME.md` found within public repositories are supported. You may want to consider using a dedicated feature branch (not master) to develop your presentations. Obviously using a dedicated branch would not keep your presentation content private, but using branches can keep your presentation content somewhat out of the public eye until you are ready to publish on master.

[2017-07-20 21:45] fkromer commented on #91
Yes. That's better than having them on the master branch.

However beeing able to completely hide incomplete slides would be great. Is it planned to add support for private repos or cloned slide repos on the local file system?

[2017-07-20 21:55] gitpitch commented on #91
You do have the option to develop the slides for your presentation offline. See the [Developing / Testing Locally](https://github.com/gitpitch/gitpitch/wiki/Developing-Testing-Locally) page on the Wiki. This allows you to develop your entire presentation content offline, which means the content remains private.

Once you are ready to go public you can then commit and push the offline files to your

[2017-07-21 08:05] fkromer commented on #91
Ok. I will try the workaround with symlinks which could make handling the development and versioning workflow even easier... Thanks.

[2017-07-21 08:54] #91 closed

[2017-07-23 13:13] justsml commented on #89
I tried to find this in the code base... Can anyone point me in the right direction? (For first PR)

Idk, maybe I'm just rusty on my Java...

[2017-07-24 08:46] gitpitch commented on #89
I'm travelling for the rest of the month so I won't have time to look at this until early August. Highlighting for the code presenting feature is implemented in JS within the following file:

[code]

If you have a PR for me please go ahead and submit it and I'll review it when time permits. If not, I'll try and look at what's involved to support this feature when I'm home.

[2017-07-28 04:13] jayvdb opened #92 "Embed Rendered webpage in slide"
I would like to embed a webpage inside a slide.

An example of the webpage I would like to embed is http://tinyurl.com/y92cnd9r , which is actually `https://query.wikidata.org/#SELECT %3Fisland %3FislandLabel %0AWHERE {%0A %3Fisland wdt%3AP31%2Fwdt%3AP279* wd%3AQ23442.%0A%0A %0A %0A %0A %0A %0A %0A SERVICE wikibase%3Alabel { bd%3AserviceParam wikibase%3Alanguage "id%2Cen". }%0A}` , and the rendere

[2017-07-28 04:16] jayvdb opened #93 "Profile list of presentations"
It would be nice if https://gitpitch.com/gitpitch showed a list of presentations by user/org `gitpitch`

[2017-07-28 04:28] jayvdb commented on #92
https://slides.com supports this with an iframe (with http only; no https) : https://slides.com/jayvdb/deck/live#/0/1

[2017-08-01 15:48] terrywbrady opened #94 "Gitpitch frame / menus do not appear for component presentation"
I am using the modular markup / asset sharing feature described in the Wiki.

The following modular presentation displays for me, but the page does not display the gitpitch frame and menus around the presentation.

https://gitpitch.com/terrywbrady/dspaceUserMeeting?grs=github&t=white&p=schedule

The gitpitch frame does appear when I open the main presentation for the repo.

https://gitpitch.com/te

[2017-08-02 01:32] gitpitch commented on #94
Hi @terrywbrady I just opened the link you provided and this is what I see:

<img width="1344" alt="terry" src="https://user-images.githubusercontent.com/19169584/28853759-b4bffc36-772a-11e7-8c62-10a904778c4f.png">

This is what I would expect to see. What am I missing?

[2017-08-02 15:35] terrywbrady commented on #94
Thanks. I will close this issue.

I had created the following link in my markdown:  [Schedule](?p=schedule)

That created a link that pointed to

https://gitpitch.com/pitchme/slideshow/github/terrywbrady/dspaceUserMeeting/master?p=schedule#/

Rather than to

https://gitpitch.com/terrywbrady/dspaceUserMeeting?grs=github&t=white&p=schedule

I was attempting to write my url references in a manner tha

[2017-08-02 15:35] #94 closed

[2017-08-03 08:05] khinsen opened #95 "Feature request: allow relative URLs for SVG images"
Motivation: absolute URLs prevent both local offline development and fully offline presentations, i.e. presentations in the absence of an Internet connection.

I found a workaround for local offline development: use HTML img elements, where relative URLs work. The relative URLs are then replaced by absolute ones (using a [RawGit](https://rawgit.com/) pointing to my repository on GitHub) before com

[2017-08-10 14:32] jerdog opened #96 "Images not showing in offline mode"
When I add an image to a slide, I am using:
`![Logo](images/opensource_logo.png)`

Which works when viewing online. But when I download and attempt to view it locally
`python -m http.server`

It displays the alt-text (in this case "Logo") instead of the image. It's trying to pull it from `http://localhost:8000/assets/opensource_logo.png` which in the offline.zip is relative to the pitchme.md file

[2017-08-10 14:57] gitpitch commented on #96
Hi @jerdog can you please point me at your presentation repo so I can try reproduce and investigate the issue you have reported. Thanks.

[2017-08-10 15:03] jerdog commented on #96
https://gitpitch.com/jerdog/gitpitch-wowza/dev?grs=gitlab

[2017-08-10 15:14] gitpitch commented on #96
Ok, so I just took your sample presentation offline. Based on the`PITCHME.md` source I see just two images in use. When opened under a local HTTP server I see both of them, as shown here:

<img width="1353" alt="img-one" src="https://user-images.githubusercontent.com/19169584/29177351-b4f33340-7e18-11e7-8e14-c32a1b40dd89.png">

<img width="1353" alt="img-two" src="https://user-images.githubusercon

[2017-08-10 15:21] gitpitch commented on #96
@jerdog  as a side note, the size of your second image is not a perfect fit for the slideshow aspect ratio so you might want to consider using the [Image Sizing and Scaling](https://github.com/gitpitch/gitpitch/wiki/Image-Slides#slide-image-sizing--scaling) feature to have that rendered more nicely on the slide.

For example, replace your original markdown:

[code]

With this:

[code]

Not require

[2017-08-10 15:25] jerdog commented on #96
1. Neither are showing in offline
2. Ubuntu Gnome 17.04
3. No real valuable errors (Firefox and Chrome both say the file is not found for the images)

I am using the python 3 http.server - what about you?

And yeah - was planning on making that image a slide image

[2017-08-10 15:31] gitpitch commented on #96
My testing has been on OSX. I have tried both Python 2.7.x and Python 3 HTTP servers using:

[code]

and

[code]

respectively.

In both cases, both of your images were rendered without any problems.

[2017-08-10 15:41] gitpitch commented on #96
@jerdog if you haven't already you might want to verify that the image assets are available on disk as the expected location and loadable by your HTTP server. The expected URLs are as follows:

[code]

[code]

Both of these URLs should open and display the respective images in your browser. And if they don't, we have new clues to investigate.

[2017-08-10 15:50] jerdog commented on #96
Yeah - they open with direct links - but they don't open in offline gitpitch for me.

When you look at the code output, it is showing the following locations:
http://localhost:8000/assets/opensource_logo.png
http://localhost:8000/images/opensource_definition.png

[2017-08-10 15:54] gitpitch commented on #96
@jerdog can you put the `PITCHME.zip` bundle that you generated taking your presentation offline somewhere public so I can download exactly what you are looking at.

Also, can you please try download the bundle again and verify that the latest bundle is also exhibiting the problems you described. I asked for this having noted above that the offline bundle I have tested here has worked perfectly.

[2017-08-10 15:59] jerdog commented on #96
So I feel stupid... Just removed my local and recreated it from the offline and now it works. No idea what happened/changed/etc. Thanks for your patience.

My guess is it had something to do with multiple changes made to my presentation/code between when I downloaded the original offline copy and when I was just attempting to copy in my changed PITCHME.md file

[2017-08-10 15:59] #96 closed

[2017-08-10 16:02] gitpitch commented on #96
No problem @jerdog just glad to hear you are back up and running with your GitPitch presentation. If you have any further questions don't be afraid to get in touch.

[2017-08-11 05:03] gitpitch commented on #92
Hi @jayvdb apologies for the delay in getting to this, I've been busy elsewhere. So you should be able to embed your iframe directly into any GitPitch slide, just drop an `iframe` into your `PITCHME.md` markdown as follows:

[code]

Please note the following:

#### 1. Mixed Content Browser Security Protection

All GitPitch presentations on `gitpitch.com` are loaded over HTTPS. One consequence of t

[2017-08-11 05:07] gitpitch commented on #93
Hi @jayvdb thanks for this feedback. Agreed, this is a nice idea and I've considered implementing this feature in the past. For a number of reasons, primarily related to _time-and-scope_, this is not something I plan to add in the near to medium term so, for now, I'm going to close this RFE as will-not-implement.

[2017-08-11 05:07] #93 closed

[2017-08-12 03:45] gitpitch commented on #95
Hi @khinsen thanks for your feedback and this feature request.

In order to render an SVG image using a HTML image tag the file content must be served with a valid `Content-Type` header. In the case of SVG that header values is `image/svg+xml`.

However, for security reasons, the leading Git hosting services purposely avoid setting this header when serving raw SVG file content.

As a result of thi

[2017-08-15 02:35] #95 closed

[2017-08-16 07:25] khinsen commented on #95
Thanks @gitpitch for this clear explanation of the problem!

A long-term solution (perhaps I'd better say a long-term workaround) would be for GitPitch to provide itself the service of RawGit, but for all supported Git hosting services.

The real solution would be for W3C to define a safe subset of SVG that would probably be sufficient for 99% of real-life use cases.

[2017-08-16 14:08] gitpitch commented on #95
Thanks again @khinsen for your feedback.

Your suggested long-term workaround makes sense. It is something I've considered in the past but decided, for the present at least, that it falls out-of-scope for planned extensions to GP.

That said, it sill may happen sooner than any change we could hope to see from the W3C :)

[2017-08-18 09:56] Chovin opened #97 "Can't specify contents of a fragment in MD"
when trying to style fragments, things start to break down

[code]
Image from [example slides](https://gitpitch.com/Chovin/gitpitch/multi-object-fragments
)
![image](https://user-images.githubusercontent.com/17536161/29454052-1c6f44e6-844f-11e7-870b-d4735385749e.png)

sorry I tried to put the source in the slides as well but couldn't figure out how to render markdown source

[2017-08-18 13:45] gitpitch commented on #97
Hi @Chovin you will need to use a HTML html `span` element that wraps the content for each bullet-point. And that span element must have `class="fragment"` as shown here:

[code]

[2017-08-19 03:26] gitpitch commented on #76
Resolved by f249ddf56af97ad21198e29e1b4ddff9542ee234.

[2017-08-19 03:26] #76 closed

[2017-08-19 03:27] #92 closed

[2017-08-19 20:17] themantalope opened #98 "Unable to put link in footnotes"
I would request that in addition to plain text, the footnote can contain a link.

For instance, I would like to be able to have a footnote with a link that can take me back to "contents" slide in a presentation or some other useful location within the presentation.

It looks like the footnote that is specified in the `PITCHME.yaml` file is always rendered as plain text.

[2017-08-20 04:44] gitpitch commented on #98
Hi @themantalope I've just added support for arbitrary HTML fragments to be used when specifying your custom footnotes. This will allow you to add links as requested.

For example, in your `PITCHME.yaml` file add the following:

[code]
This should create a link in the footer location that when clicked should automatically take you to the third slide in the presentation.

Given you are injecting cu

[2017-08-20 05:32] gitpitch commented on #98
Note, the GitPitch [Wiki has been updated](https://github.com/gitpitch/gitpitch/wiki/Footnote-Setting) to reflect this new support for HTML fragments within footnotes.

[2017-08-20 05:55] themantalope commented on #98
Beautiful! Thanks!

[2017-08-20 05:55] #98 closed

[2017-08-22 12:39] mklemm2 commented on #97
That's very counter–intuitive and should be improved. Maybe put everything between “|(” and matching “)" into one fragment?

[2017-08-23 03:51] gitpitch commented on #97
I looked at this again thanks to prompt from @mklemm2  and the simplest way to render multi-object fragments using currently available support is as follows:

[code]

This is standard HTML unordered list syntax that wraps Markdown content for each bullet point. Hopefully this is simple and intuitive for users.

The request to add new shortcut syntax is reasonable but unworkable as described given

[2017-08-23 14:07] gitpitch commented on #97
Updated [Fragment Slides](https://github.com/gitpitch/gitpitch/wiki/Fragment-Slides) page on the GitPitch Wiki to clearly document the use of fragment lists using simple v rich markdown.

[2017-08-23 15:25] shalomb opened #99 "Support for branches with odd characters in names"
We have begun evaluation of gitpitch internally in our gitlab-based organization and this has our engineers/management quite enthused. :)

A bit of a blocker for adoption is that our org. uses gitflow and branch names have slashes in them of the form `feature/foo` or `bugfix/bar`, etc which gitpitch does not seem to work with.

e.g.
[code]

Please would you add support for these?

[2017-08-23 16:04] gitpitch commented on #99
Hi @shalomb thanks for getting in touch, and nice to hear your organization is interested in using GitPitch.

To help me fully evaluate this feature-request it would be helpful if I could look at the GitLab documentation that describes the branch-naming conventions that you are using internally. Do you have a link for that? Thanks.

[2017-08-23 17:51] mklemm2 commented on #97
Well, in the end, it's up to you. But for me the point of using markdown is to *not* having to write HTML whenever possible. I just thought that maybe it is easy to implement.

By the way, I held a very successful presentation, today, thanks to GitPitch. So thank you very much for this great tool!

[2017-08-23 21:22] shalomb commented on #99
Hi @gitpitch

So the git workflow we have is something along the lines of [A successful Git branching model » nvie.com](http://nvie.com/posts/a-successful-git-branching-model/) using `git flow` from [nvie/gitflow](https://github.com/nvie/gitflow).

This is how various branches take prefixes under nvie's `git flow`
[code]

I have seen other org's use dashes instead of slashes for the prefixes - but

[2017-08-23 21:47] shalomb commented on #99
It's probably another topic of discussion - but a possible solution to this may also kill another bird.

A question was asked why we were tied to `PITCHME.md` as the base of a presentation - as if a developer wanted to present an alternative he would either have to create another branch or present the alternative in amongst the only presentation for the branch - but then the presentation may _not

[2017-08-24 00:35] gitpitch commented on #99
Hi @shalomb

Thanks for the links and additional info. Some quick clarifications that may be helpful for you.

### 1. Branch Names with Slashes

Currently there are just two valid GitPitch presentation URIs:

[code]

So using a branch name that itself contains a slash has the effect of creating an entirely new presentation URI that, when generalized, would look something like this:

[code]

While

[2017-08-24 00:53] gitpitch commented on #97
@mklemm2 glad to hear you are enjoying using GitPitch and great to hear your presentation went well.

Agreed, using markdown whenever possible is the overall goal here. In this case, avoiding HTML entirely for _fragment-lists-using-rich-markdown-content_ is not possible currently or even if the proposed new syntax was adopted.

Given this, I'm not going to add support for syntax changes at this ti

[2017-08-24 00:53] #97 closed

[2017-08-25 10:30] gitpitch commented on #99
Hi @shalomb I have just pushed experimental support for branches following the default _nvie gitflow_ naming conventions, such as `feature/x` or `bugfix/y`.

The approach I have taken aims to preserve full backward compatibility while introducing a new convention for these types of _compound_ branch names.

#### How does it work?

Assuming you have a branch named `feature/revamp-login-ui` then you

[2017-08-27 08:03] toniov opened #100 "Markdown inline code is not noticeable"
Markdown `inline code` (text inside backticks ``) looks very similar to unformatted code.

I'm writing my presentations using only Markdown, so they can be reused in other places. Not sure if it's possible now, but if not, It would be nice if we could be able to add style to inline code.

Regards.

[2017-08-27 08:39] gitpitch commented on #100
Hi @toniov you can customize the styling of almost any visual element in your presentation using `custom css` as described on the following [GitPitch Wiki page](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS).

For example, to apply a custom background color to your inline code blocks you could do the following:

[code]

Using this approach you can apply whatever custom styling you

[2017-08-27 17:28] lisah2u commented on #24
Is it possible to add a second parameter to a url such as https://gitpitch.com/user/repo/branch?p=talk-3 for the purpose of viewing speaker notes? More specifically, do you support multiple parameters to account for viewing notes (n=true)?

[2017-08-28 01:11] gitpitch commented on #24
The parameters on a GitPitch presentation URI are just a regular [query string](https://en.wikipedia.org/wiki/Query_string) so you can pass as many parameters as you like.

For example, to pass a second parameter to view speaker notes you can do as follows:

[code]

The speakers notes for the presentation found in the `talk-3` directory will now be displayed.

[2017-08-28 02:11] toniov commented on #100
Thanks for the fast reply!

I tried that but the styling also applies to block code.

I needed to change the [Highlight Setting](https://github.com/gitpitch/gitpitch/wiki/Highlight-Setting) as well, choosing a visual style that goes well with the new background color I set.

[2017-08-28 02:14] gitpitch commented on #100
Yes, of course. Sounds like the perfect solution. If you are happy with this solution can you please go ahead and close out this issue.

[2017-08-28 06:24] vjanoch opened #101 "GitLab subgroups not supported"
GitPitch seems not to support repositories GitLabs that are within a subgroup. I've forked the gitpitch repo: https://gitlab.com/gitpitch-subgroup-test/subgroup/gitpitch

The GitPitch (https://gitpitch.com/gitpitch-subgroup-test/subgroup/gitpitch) doesn't recognize the repository: "Git repository not found on GitLab"

I assume GitPitch tries to request the branch `gitpitch` of a repo `https://gitp

[2017-08-28 06:42] gitpitch commented on #101
Hi @vjanoch your assumption is correct. The structure of a valid GitPitch URI is as follows:

[code]

Therefore the GitPitch URI you tested,  https://gitpitch.com/gitpitch-subgroup-test/subgroup/gitpitch, is interpreted by GitPitch as follows:

1. The $user is `gitpitch-subgroup-test`
2. The $repo is `subgroup`
3. And the $branch is `gitpitch`

I'm not familiar with the workings of sub-groups. Is

[2017-08-28 08:00] vjanoch commented on #101
Thank you very much for answering that fast! I appreciate it very much. 👍

I'm not sure if other services than GitLab support or plan to support such a feature. The feature has been introduced in GitLab Version 9.0.
See: https://docs.gitlab.com/ce/user/group/subgroups/

In my test case the first part of the url path is not the user, but a group. To create groups in other words to create an one lev

[2017-08-28 08:20] shalomb commented on #99
Hi @gitpitch,

Many thanks for this. 👍

Unfortunately our GitLab instance is an on-prem one behind a firewall that gitpitch.com cannot access (as you might imagine, we have to run a gitpitch instance internally too)

However, I have tested this against github and forked the [kitchen-sink](https://github.com/gitpitch/kitchen-sink) and made a few test [branches](https://github.com/shalomb/kitchen-si

[2017-08-28 09:01] #100 closed

[2017-08-28 10:55] gitpitch commented on #99
Hi @shalomb I have tested this patch myself against GitLab and it works just fine.

These changes are now merged into `master` so you can spin-up your on-prem GitLab instance and check it out. Many people are using GitPitch alongside their own private GitLab instances so you should have no problems. But if you do, let me know.

[2017-08-28 13:28] gitpitch commented on #101
@vjanoch thanks for the additional information about subgroups. Based on what you have described and what I have just read in the GitLab docs I do not currently see a clean or backward-compatible solution to add support for this feature to GitPitch.

However I will give it some further thought and update this thread with any new thoughts that come to mind.

[2017-08-29 03:48] gitpitch commented on #36
Quick update. GitPitch has just been updated to use reveal.js 3.5.0 (from 3.3.x) as the default dependency for presentation rendering. As part of this change I have updated the in-presentation Help (?) screen to include:

- PgUp and PageDown keys for previous and next navigations
- Shift key navigations to skip slide fragments
- X key to select source within code blocks

If you are currently overr

[2017-08-29 03:48] #36 closed

[2017-08-29 03:49] gitpitch commented on #78
Quick update. GitPitch has just been updated to use reveal.js 3.5.0 (from 3.3.x) as the default dependency for presentation rendering. As part of this change I have updated the in-presentation Help (?) screen to include:

- PgUp and PageDown keys for previous and next navigations
- Shift key navigations to skip slide fragments
- X key to select source within code blocks

If you are currently overr

[2017-08-29 03:49] #78 closed

[2017-08-29 09:16] gitpitch commented on #84
Quick update on thread. I've just announced support for live speaker notes for **all online and offline** GitPitch presentations. See blog post for details:

https://medium.com/@gitpitch/presentation-speaker-notes-for-everyone-19bdc67b1910

[2017-08-29 09:18] gitpitch commented on #56
Quick update on thread. I've just announced support for live speaker notes for **all online and offline** GitPitch presentations. See blog post for details:

https://medium.com/@gitpitch/presentation-speaker-notes-for-everyone-19bdc67b1910

[2017-08-29 09:19] bergercookie commented on #84
Super useful feature!
Thanks for implementing this David!

Cheers,
Nikos

On Tue, Aug 29, 2017 at 12:17 PM David Russell <notifications@github.com>
wrote:

--
Nikos Koukis
School of Mechanical Engineering
National Technical University of Athens
nickkouk@gmail.com
+30 6985827375

[2017-08-29 14:38] terrywbrady commented on #36
@gitpitch , thank you for fixing this and for the reminder to update my PITCHME.yaml files.  I continue to find the service very useful!

[2017-08-30 13:46] zeljkot opened #102 "Code presenting broken for YAML"
I have a presentation with some YAML and Java code. While Java markers scroll to correct place and highlight code, YAML does not scroll so highlight is not visible. Even when it is visible (at the beginning of the file), it is very faint.

Expected behavior:
* correct portion of the YAML file should be shown
* highlight should be more visible

It is visible in first code example in [this presentat

[2017-08-30 15:18] gitpitch commented on #102
Hi @zeljkot I suspect the issue is that  `highlight.js` (the underlying code highlighting library that is used by GitPitch) does not support YAML syntax in the core library. Given YAML is a superset of JSON you might be able to temporarily workaround this by using a JSON _language hint_ on your code delimiter.

For example:

[code]

You can learn more about using code-delimiter _language hints_ on

[2017-08-30 15:35] gitpitch commented on #102
FYI @zeljkot I will look into adding first class support for YAML syntax over the next few days. In the meantime, try the workaround described above.

[2017-08-30 17:14] zeljkot commented on #102
It worked, thank you! And thank you for the quick reply! I am giving a presentation on Saturday and this really helped me!

[2017-08-31 21:41] evanwill opened #103 "Offline download includes 3 versions of reveal.js"
Testing out using <https://gitpitch.com/evanwill/pitch-test/master>, clicking the "Offline" icon downloads a `.zip` package with all assets. However, `PITCHME/assets/reveal.js/` includes `3.3.1`, `3.4.1`, and `3.5.0`.

Is there any reason to download all three versions? This adds a lot to the download size, in particular `reveal.js/3.3.1` is 27MB unpacked.

[2017-09-01 01:28] gitpitch commented on #103
Hi @evanwill thanks for getting in touch. Only a single version of the library is required. Which version depends on whether the `PITCHME.yaml` specifies a preferred `revealjs-version`. If not it's the default version, which is currently 3.5.0.

I need to prune the unused versions of the library from the zip when I generate it. I'll keep this issue open until I get to that. Thanks for reminding me

[2017-09-02 08:24] gitpitch commented on #103
Hi @evanwill I've just implemented some pretty aggressive asset pruning for GitPitch offline bundles that solves the asset size problem you have reported here.

For example, you reported your sample presentation at 27MB unpacked is now just a 2.5MB download and 5MB unpacked.

Thanks for bringing this to my attention. This patch is live on _gitpitch.com_ and thanks to you all GP users can enjoy the

[2017-09-02 09:52] gitpitch commented on #102
Hi @zeljkot just to let you know that I've just pushed a patch that gives GitPitch native syntax highlighting support for YAML. This patch is now live on _gitpitch.com_. You can therefore use a `YAML` language hint for any future code blocks that contain YAML.

Note, the original workaround should continue to work as before although you may get improved syntax highlighting if you update your `PITC

[2017-09-02 09:52] #102 closed

[2017-09-04 08:56] zeljkot opened #104 "Vertical slides cannot be skipped if ever visited"
I am using vertical slides for additional information about the topmost slide. If I press the right arrow on the topmost slide, then the additional slides will be skipped. However, if I ever open one of the additional slides, then they cannot be skipped - left and right arrow moves between the additional slides, even if I open the topmost slide again. Additional slides are useful to adjust the len

[2017-09-04 09:36] zeljkot opened #105 "UML diagrams"
Add support for UML diagrams, PlantUML-style. There are similar issues for [Github](https://github.com/gitlabhq/gitlabhq/issues/9550) and [Gitlab](https://gitlab.com/gitlab-org/gitlab-ce/issues/4048). [Mermaid](https://github.com/knsv/mermaid) might be the possible solution.

[2017-09-04 09:38] gitpitch commented on #104
Hi @zeljkot you can skip over any series of vertical slides (or fragments, including code frags) using the `Shift` key.

### 1. Jump between top-level presentation topics

If you press the `Shift` key plus the `left` or `right` arrow key you can escape from a deep vertical stack (or fragments) and move on to the next (or previous) top-level topic in your presentation.

### 2. Jump to top (or botto

[2017-09-04 12:13] zeljkot commented on #104
That helps, but there is an issue with arrow navigation consistency.

**First issue: moving between code blocks**

Open slide 6 from the link and press space.
* Right arrow shows next code highlight
* Left arrow shows the previous slide rather than previous code highlight

**Seconds issue: moving between horizontal slides**

Refresh the page go to page 6.
* Right arrow open page 7.
* Left arrow op

[2017-09-04 13:00] gitpitch commented on #104
Hi @zeljkot thanks for the additional feedback. I have been able to reproduce both of the issues you have reported here. When time permits I will investigate further and update this thread with what I find.

[2017-09-05 10:37] zeljkot opened #106 "Avoid jumps between nearby code blocks"
Sometimes when I highlight two code blocks that are near or overlapping, the code in the window "jumps" up or down although both successive blocks can fit into Window. See example here:

https://gitpitch.com/pitchme/slideshow/github/zeljkot/presentations/master?p=swagger#/10/1

The presentation will look smoother if this can be avoided; for example, I could set the first line that should be visibl

[2017-09-06 02:37] gitpitch commented on #89
I've just pushed a patch that adds support for multiple-slices of code to be represented within a single code-fragment marker. This will allow you highlight multiple non-contiguous blocks of code using a single marker. For example, the following marker `@[7, 11-14]` renders as follows:

<img width="953" alt="cp-multi-frag" src="https://user-images.githubusercontent.com/19169584/30091930-5ff401b6-9

[2017-09-06 05:37] gitpitch commented on #103
Closing issue as resolved.

[2017-09-06 05:37] #103 closed

[2017-09-06 05:38] gitpitch commented on #99
Closing issue as resolved.

[2017-09-06 05:38] #99 closed

[2017-09-06 07:30] fkromer commented on #89
@gitpitch Great. Thanks a lot.

[2017-09-06 07:30] #89 closed

[2017-09-08 22:02] jerdog opened #107 "Any more information on how Remote Control Navigation is supposed to work?"
I am seeing [this](https://github.com/gitpitch/gitpitch/wiki/Remote-Control-Navigation) but no info on what dependencies there are here... Or how you connect to your presentation to control it.

[2017-09-09 01:41] gitpitch commented on #107
Hi @jerdog beyond [activating the setting](https://github.com/gitpitch/gitpitch/wiki/Remote-Control-Navigation) you found in your `PITCHME.yaml` all you should have to do is follow whatever setup/activation instructions come with your specific remote control device: Logitech, Kensington, etc. Often that means just plugging the receiver for your remote control device into the USB port on your lapto

[2017-09-09 01:42] jerdog commented on #107
Ahh ok. It seemed to infer that you could use your phone/tablet as a remote.

On 8 Sep 2017 20:41, "David Russell" <notifications@github.com> wrote:

Hi @jerdog <https://github.com/jerdog> beyond activating the setting
<https://github.com/gitpitch/gitpitch/wiki/Remote-Control-Navigation> you
found in your PITCHME.yaml all you should have to do is follow whatever
setup/activation instructions come

[2017-09-09 02:05] gitpitch commented on #107
I've added examples of remote control devices (Logitech, Kensington, etc.) to the Wiki to make it clearer what kinds of devices we are talking about.

You still might be able to use your phone or tablet by using a service like [remot.io](http://remot.io). I've never used it myself but it might be worth trying. If you do I'd appreciate it if you can let me know how it goes.

[2017-09-09 02:05] #107 closed

[2017-09-12 15:04] gitpitch commented on #66
Hi @fladd can you share a link to your sample presentation where you are experiencing table rendering problems when printing? Is the problem reproducible both (1) when printing on the server and (2) when printing in the browser? These two printing options are described [here](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Printing).

[2017-09-12 16:44] fladd commented on #66
@gitpitch It is not about printing necessarily, but about automatic scaling of (large) tables, such that they fit on a slide. I tried wrapping it into html in order to change the font size for just the table, but it seems that markdown within html is not interpreted.

[2017-09-13 02:05] gitpitch commented on #66
Thanks for the additional feedback @fladd. So GitPitch makes no attempt to fit general content into a slide. Your content simply has to fit within the normal resolution of the presentation. I currently see no way change this as this is a core behavior of the underlying slide rendering engine, reveal.js.

However, images are a clear exception to this rule. Given this, if you capture a screenshot of

[2017-09-18 10:03] fladd opened #109 "Slide image backrounds do not work"
Look here: https://gitpitch.com/fladd/stress-nf

While normal images show, slide background images do not show (although they are in the same location). They do work offline, though.

[2017-09-18 10:19] gitpitch commented on #109
Hi @fladd I just looked over your `PITCHME.md` and you do not seem to be using the recommended syntax for slide background images, as documented on the [Wiki here](https://github.com/gitpitch/gitpitch/wiki/Image-Slides#background).

Try replacing your syntax that looks like this:

[code]

With the recommended GitPitch syntax, for example:

[code]

This is more concise. And should also work :-) Let

[2017-09-18 10:31] fladd commented on #109
Thanks for the quick reply. It indeed does work now. I was not aware that the offline version changes the syntax of the Markdown file. I don't think this is documented anywhere.

It would be great to have a better way to work offline though.

[2017-09-18 11:02] gitpitch commented on #109
Agreed, there is definitely room-for-improvement in the [Developing Offline / Locally](https://github.com/gitpitch/gitpitch/wiki/Developing-Testing-Locally) page on the Wiki.

It does briefly explain differences with regards paths for embedded images. But it does not yet explain the differences for background image syntax.

Can you elaborate, what have you in mind?

[2017-09-18 15:15] fladd commented on #109
Well, literally anything that does not change the syntax of the markdown files :-)

I like Gitpitch, but I sometimes have presentations that are not (yet) ready for the public. I would like to prepare those offline, present them somewhere from my offline version, then, when it can be shown to public, I would like to push the whole thing to GitHub, without changing anything of the source files.

Ri

[2017-09-18 16:16] gitpitch commented on #109
Hi @fladd thanks for this, it's very helpful for me to get this kind of feedback.

Currently online and offline syntax can not be the same. Offline presentations are static sites, there is no processing component. And offline assets clearly can not live at the same location as online assets, hence the differences you have encountered.

I'll need to give this further thought to see how or if change

[2017-09-18 18:32] fladd commented on #109
Thanks for the detailed explanation.

Yes, I would work the same if I could. But some content you just don't want to have publicly available in any form. I was aiming to use GitPitch for "traditional" presentations (those that you give in front of an audience at a conference or meeting). Only after I have given the presentation (or directly before), I want things to be on the internet (if at all).

[2017-09-19 01:10] gitpitch commented on #109
Very interesting feedback @fladd. Given you specific needs (not git) and your preferred workflow (offline) you might want to consider working directly with [reveal.js](https://github.com/hakimel/reveal.js/).

Creating a dedicated offline GitPitch application would be a significant undertaking and as I'm sure you appreciate I already have one of those to devour my time...GitPitch :)

As a workaroun

[2017-09-19 01:10] #109 closed

[2017-09-25 21:57] zeljkot opened #110 "Parentheses in code presenting annotation"
Code presenting annotation does not provide a way to put parentheses inside. For example, this does not work:
`@[15-16](skip(5))`
Escaping also does not work:
`@[15-16](skip\(5\))`

[2017-09-26 05:08] gitpitch commented on #110
Thanks for reporting this  @zeljkot. I will push a fix for this issue as part of an upcoming GitPitch v2.0 release. Coming soon.

[2017-09-26 17:01] chbndrhnns opened #111 "Multi-column support like in Remark.js"
I am wondering how difficult it would be to also support [remark.js](https://github.com/gnab/remark)?

[2017-09-27 01:42] gitpitch commented on #111
Hi @chbndrhnns thanks for getting in touch. How difficult? From a practical point of view, impossible. But I would like to understand what features you feel remark would give you that are not found in GitPitch today? Perhaps if not the library itself, some of these features could be integrated.

[2017-09-27 11:53] chbndrhnns commented on #111
I find the multi-column layouts to be quite easy to define:

[code]

Maybe I am just missing how to achieve similar things with reveal.js and gitpitch?

[2017-09-27 12:20] gitpitch commented on #111
Agreed, multi-column layout is a nice feature. GitPitch does not support this out-of-the-box today although you could probably achieve this layout using [custom css](https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS).

I'll soon be releasing GitPitch v2.0 and once that release is out the door I'll be turning my attention to new features. Multi-column layouts is on the candidate list.

[2017-10-07 14:01] gitpitch commented on #110
@zeljkot this issue should be resolved by the latest GitPitch 2.0 release. If you test and verify the fix can you please update or simply close out this issue. Thanks.

[2017-10-09 14:48] marcelgleis opened #113 "Support sub-directories"
I'd like to have a repo with different PITCHME.md files in different sub-directorys.

Does that make sense to you?

[2017-10-09 15:22] gitpitch commented on #113
Hi @marcelgleis it does make sense and you can do that today. See the [Single Repo - Multiple Presentations](https://github.com/gitpitch/gitpitch/wiki/Asset-Sharing) page on the GitPitch wiki. If you have any further questions just let me know.

[2017-10-13 15:54] #113 closed

[2017-10-13 15:54] #110 closed

[2017-10-14 02:03] gitpitch commented on #59
You can use the SHA for any commit in-place of a branch name (in fact, SHA is a branch name) on a GitPitch slideshow URL in order to ensure that everyone is looking at a specific version of the slideshow.

For example, the following is a valid GitPitch URL:

[code]

This example link points to a specific version of the slideshow that was created by the commit indicated on October 13, 2017.

This l

[2017-10-19 14:47] EvgenyOrekhov opened #114 "Add code revealing"
I would like to see a feature that would allow me to write one code snippet and reveal more and more of its lines.

To achieve that right now I have to write multiple code snippets with duplicate code, for example: https://github.com/EvgenyOrekhov/talks/blob/master/why-so-functional/PITCHME.md#v20.

[2017-10-19 15:12] gitpitch commented on #114
Hi @EvgenyOrekhov you can use the GitPitch [code presenting](https://github.com/gitpitch/gitpitch/wiki/Code-Presenting) feature to gradually reveal more-and-more code in a single slide.

Specifically to your sample presentation: for example, based on your current slides 5/1 through 5/7 you could replace all of those slides with a single slide with the following code-block and code-presenting marke

[2017-10-19 15:36] gitpitch commented on #114
Note @EvgenyOrekhov I've just updated the code-presenting markers in the example provided above to correctly match the code block used in your example presentation.

[2017-10-19 15:46] EvgenyOrekhov commented on #114
@gitpitch I'm aware of the code presenting feature and it's great, however I have 2 problems with it in the case of using it for code revealing:

- the whole code is shown before the first step
- the dimmed code is still visible

[2017-10-19 15:55] gitpitch commented on #114
Ok, thanks for the additional feedback @EvgenyOrekhov. I assumed (incorrectly) that dimming the code would be adequate for your needs. But you want a fully hidden-then-reveal effect. This is not something GP gives you today. Unless you stick with your original approach of using multiple-slides.

I'm not sure how a hidden-then-reveal effect would best be delivered by GP. I'll give it some thought.

[2017-10-19 16:21] EvgenyOrekhov commented on #114
@gitpitch Regarding the code dimming, a possible solution would be using a CSS class instead of the "style" attribute for dimming. That way a user could just define custom CSS for that class.

Regarding the first issue, a possible solution would be to start code presenting immediately, without showing the whole code first, and if a user wants to show the whole code first, they could use `@[-]` as

[2017-10-20 00:49] gitpitch commented on #114
Thanks again for your feedback @EvgenyOrekhov.

Any solution will need to be backward compatible with the current code-presenting behavior so I need to give this some further thought. I will update this thread if I find an approach that can deliver the features you're requesting.

[2017-10-20 18:38] gabrieljoelc opened #115 "Hyperlink color in speaker notes"
Steps to reproduce:
1. Create deck with white theme
1. Add speaker notes that include an URL
1. Run the deck with the `n=true` query string parameter
1. Navigate to the slide with the speaker notes

It's using the
[code]
hyperlink color and it's hard to see on the speaker notes modal.

https://gitpitch.com/gabrieljoelc/herocker/master?grs=github&t=white&n=true

macOS Sierra: 10.12.6 (16G29)
Chrome

[2017-10-21 05:21] gitpitch commented on #115
@gabrieljoelc thanks for the feedback. I will look into this over the next few days. If you have a link to a sample presentation that demonstrates the issue you've reported can please share that link here. Thanks.

[2017-10-21 05:23] gabrieljoelc commented on #115
@gitpitch oops. I forgot to add that. Description updated.

[2017-10-23 17:26] samuelgoto opened #116 "Is it possible to hide the menu by default?"
When I open my slides, it defaults to the presentation and the input handlers default to navigating through the menu rather than the content.

https://gitpitch.com/samuelgoto/proposal-block-params

Is there any way to hide the menu by default?

[2017-10-23 17:57] terrywbrady opened #117 "Google Analytics Data - Did Something Stop Working?"
Since 10/7, none of my gitpitch presentations have recorded any traffic in Google Analytics.

https://github.com/gitpitch/gitpitch/wiki/Google-Analytics

Is it possible that something broke around that date?

[2017-10-24 01:31] gitpitch commented on #117
Hi Terry, can you share a link to one of your presentations where you have activated Google Analytics in your `PITCHME.yaml` so I can investigate. Thanks.

[2017-10-24 02:01] gitpitch commented on #116
Hi @samuelgoto thanks for your feedback. Currently, the menu can not be hidden by default. It is open by default to provide context for anyone viewing your presentation, for example, when you share a link to your presentation etc.

Part of that context is that they are viewing a GitPitch presentation. And part of that context is the origin of the presentation, your account/repo on GitHub/GitLab/Bi

[2017-10-24 02:18] terrywbradyC9 commented on #117
Thanks, @gitpitch.

https://github.com/terrywbrady/iiif-seajug/blob/master/PITCHME.yaml#L4

I see the following warning in Google Analytics.

Tracking code on page https://gitpitch.com does not match property Git Pitch Presentations's tracking ID UA-89672351-2.

[2017-10-24 02:55] gitpitch commented on #115
I've just pushed a patch that improves the rendering contrast for links shown within inline speaker notes. Interestingly, the problem you reported affected a number of GitPitch themes, particularly the `white` and `beige` themes. So thank you again for bringing this to my attention.

@gabrieljoelc  can you please test and verify, then update or close out the issue thread. Thanks.

[2017-10-24 03:02] gitpitch commented on #101
At this time, GitPitch will not be adding support for this GitLab-specific feature. Closing issue as will-not-fix. If I revisit this decision at any point I will update this thread.

[2017-10-24 03:02] #101 closed

[2017-10-24 03:06] gitpitch commented on #116
One thing I forgot to ask you @samuelgoto is why you would like to see the menu hidden by default?

Is it interfering in some specific way, for example, with your workflow as you develop your presentation content? If you can help me understand I may be able to help.

[2017-10-24 03:40] gabrieljoelc commented on #115
I verified white, beige, and black.

Thanks!

[2017-10-24 03:41] #115 closed

[2017-10-24 03:42] samuelgoto commented on #116
For the most part, I'd expect that links that I share are links to my
presentation, to its content, rather than gitpitch nor to my
account/repo/github/etc. If I want to make a reference, for whatever
reason, that should be under my responsibility to do so in the presentation
itself (e.g. maybe a link in the first slide or two). gitpitch should be
agnostic / unopinionated about the flow of the pres

[2017-10-24 06:07] gitpitch commented on #116
Thanks for the additional feedback @samuelgoto.

I understand your preferences here and I'll keep them in mind. I should point out that in many (but not all) cases the GitPitch menus get entirely out of the way when screen size is at a premium. For example:

1. When viewing a presentation on a tablet or mobile device the menu is hidden by default.
2. When viewing a presentation [embedded in a blog

[2017-10-24 08:53] gitpitch commented on #117
Thanks @terrywbrady Just confirming I can reproduce the error you reported and I have a new patch pending release on gitpitch.com. This patch should be applied within the next 24 hours. The delay now is simply because I will need to bring down the live server to apply this patch so I need to choose a good time to do so. I will update this thread once the patch is live.

[2017-10-24 17:36] samuelgoto commented on #116
Can you give me some code pointers? I don't mind hacking into the code and
trying to PR this as a feature if you think it should be part of a future
release.

On Mon, Oct 23, 2017 at 11:07 PM, David Russell <notifications@github.com>
wrote:

--
f u cn rd ths u cn b a gd prgmr !

[2017-10-25 01:29] gitpitch commented on #117
GA patch is now live, requires verification. @terrywbrady when you have a chance can you please check your GA dashboard and let me know if your token is now working again as expected.

[2017-10-25 03:11] gitpitch commented on #116
@samuelgoto thanks for the kind offer. However, I plan on coordinating the release of this feature within a larger update that is currently being worked on. I'll update this thread once that release is out.

[2017-10-25 16:11] terrywbrady commented on #117
@gitpitch , I am seeing activity on GA again.  Thank you for the quick fix!

[2017-10-26 00:45] #117 closed

[2017-10-26 04:57] gitpitch commented on #116
Just a quick update on this thread. This discussion has helped to highlight some important differences between the needs of a GitPitch presentation author during (1) the development phase versus (2) the publishing phase, which can include presenting or sharing slideshow content.

So as a first concrete step to both acknowledge and improve support for presentation authors across these two distinct

[2017-10-27 05:57] vogxn commented on #26
given github oauth and integrations, is this something that is possible to include in your roadmap? i love gitpitch and my org is entirely on github as are many others. this would be a super useful feature for us.

[2017-10-27 08:07] gitpitch commented on #26
Hi @vogxn thanks for getting in touch. It so happens I am already working on GitPitch 3.0. That release will introduce a number of new features, including subscription-only features that will support private repos.

I do not yet have a release date for you but I will update this thread with further news as it becomes available. You can reach out to me anytime by e-mail if you have any questions or

[2017-10-27 15:34] tbfe-de commented on #111
I have not (yet) used `reveal`-based gitpitch but I seriously consider to switch over from `remarkjs`, which I have used a lot in the past years for writing presentations (mostly for teaching C++ and Tcl/Tk).

**Two-Column-Layout is also essential to me**, as I use it more often than just occasionally. If I switch to gitpitch I need to find ways to convert the bulk of existing pages automatically.

[2017-10-28 23:05] atsaloli commented on #116
Great, thanks a lot. I too would like to be able to send people to my presentation and have them just see the presentation (in other words, no menu).

[2017-10-29 05:37] samuelgoto commented on #116
This sounds like a good step forward, but really doesn't fulfill entirely what I'd want: no menu at all.

Help me understand why it is easy to "hide some items in the menu" and "hard to hide the menu entirely"?

Is this a product challenge or a technical one? That is, is it fair to assume this is technically easy to accomplish?

[2017-10-29 10:41] gitpitch commented on #116
Not all problems are technical in nature. While endeavoring to keep _all_ of my end-users happy I need to prioritize and manage the use of my time across a myriad of tasks. And sometimes, I even need to sleep. Some please appreciate I am doing my best for you, and for everyone else using GitPitch at the same time.

As indicated above, the addition of the `published`  option was an an initial concr

[2017-10-29 17:10] m1guelpf opened #119 "Private repos"
Is there a way to use this with private repositories?

In an ideal world, I should be able to append a token to the URL to get access...

[2017-10-29 21:27] atsaloli commented on #116
Don't skimp on the sleep!  Please take good care of yourself.  You're doing wonderful work, very valuable!

I see the GitPitch menu closes on initial load when "published" option, this fits my needs perfectly, _thank you!_  Where do I send the chocolate?  =)

[2017-10-30 01:40] gitpitch commented on #119
Hi @m1guelpf thanks for getting in touch. Currently GitPitch does not support access to private repos. However, I am currently working on GitPitch 3.0. That release will introduce a number of new features, including subscription-only features that will include support for private repos.

I do not yet have a release date for you but I will update this thread and the [GitPitch blog](https://medium.c

[2017-10-30 01:52] gitpitch commented on #116
@atsaloli thank you for testing and verifying the new `published` behavior. Meeting your needs perfectly, very nice. And thanks for the kind offer of chocolate, that's a delicious first for GitPitch ;-)

[2017-10-30 04:25] atsaloli commented on #116
You are welcome!  I've mentioned GitPitch on HN as well:
https://news.ycombinator.com/item?id=15581547

On Sun, Oct 29, 2017 at 6:53 PM, David Russell <notifications@github.com>
wrote:

--
Achieve real learning.  Email training@verticalsysadmin.com.

[2017-10-30 06:31] gitpitch commented on #116
Wow. That's awesome @atsaloli :-)

[2017-10-30 07:03] m1guelpf commented on #119
@gitpitch Here are some use cases:

- I have a private repository with the code of my app. I want to host the presentation for the service in that repository.

- I am going to do a talk on a conference, and I want to keep my slides private until the day of the talk.

[2017-10-30 07:55] m1guelpf commented on #119
@gitpitch As a temporal workalround, maybe we could accept a token as a GET parameter and use it to connect to the provider.

[2017-10-30 08:17] gitpitch commented on #119
Thank you for all of this feedback @m1guelpf, very helpful.

Practically speaking there is no quick workaround we can make to support private repos at this time. But the real work that is required is already underway and I will update this thread as soon as I have news to announce.

[2017-10-30 08:54] m1guelpf opened #120 "Help me understand the logic between GitPitch"
As an exercice, I'm trying to build a GitPitch-like application with Laravel, but I can't figure out how the application works (never used Java before 😞).

From the file structure, I'm supossing the framework you're using it's a MVC framework, but I'm stuck there.

It would be very helpful if you could explain me the request flow that happens when I request, for example, this repo's presentation.

[2017-10-30 09:50] gitpitch commented on #120
Hi @m1guelpf

GitPitch has been designed to follow standard Play Framework conventions. So to begin, in order to understand the layout of the project itself I recommend the following article, [Anatomy of a Play Application](https://playframework.com/documentation/2.5.x/Anatomy).

If you really want to understand how it all works you will have a _lot_ to learn. And undoubtedly the best place to sta

[2017-10-30 09:50] #120 closed

[2017-10-30 15:04] vogxn commented on #26
Thanks for your response, David. I just happened to start using within my org to do internal talks and presentations. It's just me right now but the first talk has had a good impression on people. I'm hoping that the rest of the team will pick it up for their presentations.

[2017-10-30 15:53] gitpitch commented on #26
@vogxn I'm very glad to hear your first presentation using GitPitch was well received within your org. Hopefully the first of many. If I can be of any help or you have further questions please feel free to reach my here or directly by e-mail.

[2017-10-30 16:41] m1guelpf commented on #120
@gitpitch I've managed to understand everything but the asset organization. Could you explain what assets could be pulled from npm, what assets have been modified, what assets have been created and why you have like 3 different versions of some assets?
Thank you!

[2017-10-31 03:53] gitpitch commented on #120
GitPitch works with many versions of the same assets to support distinct use cases and features at runtime. I'm not familiar with npm or how it manages assets.

[2017-10-31 09:37] EvgenyOrekhov opened #121 "Relative links to images are incompatible with GitHub"
I have a repo with multiple presentations: https://github.com/EvgenyOrekhov/talks

Each presentation has its own `img` directory, e. g.
https://github.com/EvgenyOrekhov/talks/tree/master/can-we-live-without-this

[GitPitch's wiki](https://github.com/gitpitch/gitpitch/wiki/Image-Slides) says I should use links to images that are relative to the **repo**, e. g. I should use

[code]

in my `can-we-li

[2017-10-31 13:38] jacg opened #122 "Finer-granularity code fragments"
Thank you for this *very* interesting tool.

I need the ability to highlight **portions** of lines of source code. AFAICT this is currently not supported.

Is this something that you think you might support in the future?

[2017-10-31 13:43] jacg opened #123 "In-step highlighting of multiple code fragments"
I am looking for the ability to highlight code fragments **simultaneously** in two separate code blocks on the **same slide**.

My use cases include:

+ Compare and contrast equivalent code in two different languages
+ Relate source code to the output it generates

(In the latter case one of the blocks isn't really *source code*.)

Do you think that this might ever be supported?

[2017-10-31 15:11] gitpitch commented on #122
Hi @jacg thanks for getting in touch and for this very interesting request. Undeniably, a nice feature. But more than a little bit tricky to implement today at least. So the short answer (and probably unsatisfactory answer :) is maybe.

I'll add it to my list. For know I'll keep this thread open which will allow other users to up-vote the request which will help me gauge the overall level of inter

[2017-10-31 16:59] gitpitch commented on #123
Hi @jacg thanks for yet another interesting feature request. It so happens I am in the early stages of working on major new GitPitch release. That release will introduce a number of new features, including some subscription-only features, one of which I've provisionally named `synchronized code-presenting`.

I believe this new `sync` feature will give you the kind of behavior you have described. F

[2017-11-01 00:44] gitpitch commented on #121
Thanks for this feedback @EvgenyOrekhov I've just looked at the docs you shared and there is definitely an inconsistency between how GitHub and GitPitch handle relative links in their markdown files.

Resolving that inconsistency now is problematic. To do so would run the risk of breaking existing GP presentations that depend on the currently documented behavior. And I see no way for GP to simulta

[2017-11-01 09:12] jacg commented on #122
David,

Thanks for your reply. *Maybe* is a fine answer, especially with the background information that it's *a little tricky to implement today*: that tells me that I shouldn't hold my breath, which is valuable information.

While I wasn't really expecting it, there was at least an outside chance that you might have answered "Oh, yes, that's easy, I'll do it tomorrow ... no wait ... it's *so* ea

[2017-11-01 09:24] jacg commented on #123
Hi David, (I'm assuming that you get these without being @mentioned explicitly)

The features you mention look very interesting, and indeed closely related to what I wanted.

Presenting from private repos is not of particular interest for me at present. Indeed, my current needs are mostly towards the other end of the openness spectrum, so much so that I'm just *slightly* worried by hearing about *

[2017-11-01 11:07] gitpitch commented on #123
Hi @jacg thanks for this great feedback. In truth one of the reasons I mentioned some of the upcoming subscription-only features was to start having this type of conversation with my users.

I think the single, most important clarification I need to make right now is this:

I hope understanding this alone will help calm some of your initial concerns.

Having worked full-time and entirely _gratis_

[2017-11-01 12:39] jacg commented on #123
Hi David,

While I suspect that it is unlikely that I will be signing up for GitPitch Pro myself on the day it rolls out (other tools currently still seem better suited for my current needs, overall), I really do wish you success in this endeavour: you have made something useful, worthwhile and beautiful, and from my perspective, cosmic justice would be done if you could make it a financial succes

[2017-11-01 13:53] gitpitch commented on #123
Thanks again for this useful feedback and helpful suggestions. Here's to navigating minefields and cosmic justice :)

[2017-11-01 14:18] gitpitch commented on #116
Closing issue as resolved. See [Wiki](https://github.com/gitpitch/gitpitch/wiki/Published-Setting) for details.

[2017-11-01 14:18] #116 closed

[2017-11-01 18:26] samuelgoto commented on #116
This doesn't sound like a closed issue to me (i.e. to be able to hide the menu by default). Can we keep it open until the original feature request gets addressed (e.g. we can keep this discussion for historical reasons)?

[2017-11-03 13:28] lexsys27 opened #124 "JDK 1.9 support"
Is JDK 1.9 supported for this project?

I have several issues building the project using JDK 1.9 & sbt 0.13 and would like to know if this configuration is supported before posting them.

[2017-11-03 13:58] gitpitch commented on #124
Hi @lexsys27 the short answer, no JDK 1.9 is not supported. GitPitch will first need to be upgraded to PlayFramework 2.6. It's on my todo list. And a number of [known issues](https://github.com/playframework/playframework/issues/7879) with that upgrade would still need to be addressed.

For now you must build using JDK 1.8.

[2017-11-03 14:34] #124 closed

[2017-11-03 14:40] gitpitch commented on #124
@lexsys27 quick question, do you mind if I ask how you are currently using GitPitch? I just like to understand why and how people are hosting their own GitPitch servers. Thanks.

[2017-11-04 08:13] lexsys27 commented on #124
@gitpitch Sure! I deliver onsite trainings on Cloud Foundry technology and would like materials to be available from the local network for multiple students during the training.

For now I have played with GitPitch for only one day but it looks promising!

[2017-11-06 18:13] lexsys27 commented on #124
I am not sure for now how the final configuration will look like and doing some prototyping at this moment. GitLab CE is one of possible choices but I look at gogs.io too. Gogs is simpler and maybe better choice if I want to bring separate instance of VCS to the training.

Two other features I am interested in are showing presentations from private GitHub repo and using custom URL.

[2017-11-07 07:03] gitpitch commented on #124
Very interesting, re. configuration. Happily GitPitch gives you a lot of flexibility to try out different options as you can use any of the supported Git servers locally: GitHub Enterprise, GitLab CE, Bitbucket Server, Gitbucket, Gitea, or Gogs.

As for showing presentations from private repos, this is something that I am working on right now as part of a new major GitPitch release and I will be m

[2017-11-07 07:58] lexsys27 commented on #124
By the way, yesterday I have successfully deployed GitPitch to my local server and served presentation from the private repo on GitHub. The PDF exporting feature is not working yet but I am happy with the progress :)

Custom URL has a form of _slides.some-training.company.com_ where _company.com_ is one that delivers the training.

You have built an amazing tool and I have a lot of ideas how to us

[2017-11-07 10:19] gitpitch commented on #124
Thanks for all of this positive feedback. It's great to hear you are making good progress with your initial GitPitch configuration and testing. Let me know if you remain stuck with the PDF printing config. Definitely best to contact me directly by e-mail if were are going to debug your environment/config.

I have made a note of your custom URL suggestion and will evaluate it when time permits. And

[2017-11-07 21:32] jeantil opened #125 "Line break before @title breaks code highlighting"
Hi,

just a heads up that adding a line break between a vertical slide delimiter `+++` and a custom title `@title[custom title]` partially breaks markdown rendering

* nested lists don't work anymore
* whitespace indentation is stripped from code blocks

this is not a blocker as simply making sure the @title is on the line immediately after the `+++` separator fixes everything but an easy way to w

[2017-11-08 00:59] gitpitch commented on #125
Hi @jeantil thanks for reporting this issue. Can you provide me with a link to a broken presentation that demonstrates the problem you reported? Note, you can use a commit id/hash on any GitPitch url (in place of the branch name) to point at a specific version of a presentation. So hopefully you should be able to point me back at where all of your troubles began.

[2017-11-08 09:19] jeantil commented on #125
hi @gitpitch

here you go :
- [gitpitch presentation of the issue (and one more discovered making the presentation)](https://gitpitch.com/jeantil/gitpitch-125/master#/)
- [corresponding PITCHME.md](https://github.com/jeantil/gitpitch-125/blob/master/PITCHME.md)

the new issue I discovered while making this presentation is that it is not possible to make code blocks or code slides representing mark

[2017-11-08 09:27] jeantil opened #126 "Quoting gitpitch extended language or markdown renders incorrectly"
I am creating this issue after I discovered it is not possible to quote gitpitch markdown with extension.

The following code

    ---
    @title[can't quote markdown]

[code]
    here is the result of a naive attempt at quoting markdown

renders like so
![image](https://user-images.githubusercontent.com/22979/32541190-34e4fce0-c46f-11e7-8612-e4eab958084d.png)
@title is preprocessed and I haven't

[2017-11-08 12:42] gitpitch commented on #126
You can't currently prevent @title being preprocessed. And without your _spacing trick_ GitPitch can not render regular Markdown code blocks. It's a known issue/feature/bug. This is the only know workaround. I should update the Wiki to save you/others time in future.

[2017-11-08 13:22] jeantil commented on #126
It's sad because it makes making presentations on gitpitch harder to make, documenting the workaround would definitely be a life saver.

For information, I first looked it up in the following places in this order
- https://github.com/gitpitch/gitpitch/wiki/Slide-Markdown
- https://github.com/gitpitch/gitpitch/wiki/Code-Slides

Also I tried using the Code Delimiter Slides to work around the issue b

[2017-11-08 14:27] gitpitch commented on #126
Agreed. Until today only one other person has contacted me in the past 18 months interested in doing what you are doing, presenting Markdown code within a GitPitch presentation. So this issue just didn't make it to the top of my list. You looked in all the right places. That's exactly where I'll add some notes to make this a much smoother path for future presenters.

I'll update this thread once t

[2017-11-08 16:24] jeantil opened #127 "Scala generics in code fence parsed as markdown"
Trying to render

[code]

[renders incorrectly](https://gitpitch.com/jeantil/gitpitch-125/127#/)
[code]
I tried various workarounds to no avail.

When using marked.js + highlight.js directly the code renders fine ... see https://github.com/jeantil/gitpitch-125/blob/127/index.html for basic html demo.

[2017-11-08 16:30] jeantil commented on #127
Note that adding a space between the generic declaration and the constructor renders fine. like so

[code]

it's unfortunate that such notation doesn't follow the scala style guide :(

[2017-11-09 06:39] gitpitch commented on #126
@jeantil I have just pushed a number of updates with the following changes:

1. Support for clean rendering of raw markdown within slides. See details on the [Wiki here](https://github.com/gitpitch/gitpitch/wiki/Displaying-Markdown-Within-Markdown).

2. Fixes for issues relating to rendering problems due to @title placement on slide.

These updates are now live. Can you please test and verify and

[2017-11-09 06:40] gitpitch commented on #127
@jeantil latest updates include patch for the issue reported here. Can you please test and verify. Thanks.

[2017-11-09 08:45] jeantil commented on #127
I can confirm this is fixed on my presentations :) thank you

[2017-11-09 08:45] #127 closed

[2017-11-09 08:50] jeantil commented on #125
This was fixed in the latest update as mentioned by @gitpitch in [this comment](https://github.com/gitpitch/gitpitch/issues/126#issuecomment-343061549)

all markdown now renders properly whether you skip a line between the slide delimiter `---` or `+++` and the `@title`, or not.

[2017-11-09 08:50] #125 closed

[2017-11-09 09:02] gitpitch commented on #125
Thanks @jeantil for bringing these issues to my attention, for providing test cases, and for testing and verifying the patches. Much appreciated. David.

[2017-11-09 09:29] jeantil commented on #126
Hi @gitpitch,

I have read the documentation and what you said about what is actually supported versus not supported.
For the sake of completeness I tested most all the variations I could think of, here are the results.

* Code Delimiter Slides
  - ✅ render [indented code blocks](http://localhost:9000/jeantil/gitpitch-125/126?grs=github&t=white#/4/1)
  - ✅ render [backtick fenced code blocks](http

[2017-11-09 09:32] jeantil opened #128 "Code delimited slides with language hint are not rendered properly"
Trying to render a code delimited slide using a language hint yields the following error in the server logs:
[code]
The url syntax is indeed invalid :
[code]
notice the end of the url :
[code]

complete server logs :
[code]

actual presentation sample :  http://gitpitch.com/jeantil/gitpitch-125/126?grs=github&t=white#/4/2

[2017-11-09 09:33] jeantil commented on #125
Well providing test cases and verifying fixes is the least I could do :) thanks for your software !

[2017-11-09 09:40] gitpitch commented on #126
Thanks again for this additional feedback. There seems to be a little confusion. Note the **bolded** statement on the new [Displaying Markdown Within Markdown](https://github.com/gitpitch/gitpitch/wiki/Displaying-Markdown-Within-Markdown) Wiki page:

The set of tests you have created to test static markdown code blocks **do not use a code** delimiter and therefore do not fall within the supported

[2017-11-09 09:52] gitpitch commented on #128
It looks like you are using invalid code delimiter syntax. This is what I see in your `PITCHME.md` file:

[code]

That is not valid URL param usage because you are using `?lang=` and not `&lang=`.

Can you update your code delimiter and try again?

[2017-11-09 10:47] jeantil commented on #128
sorry about that, my mistake.

[2017-11-09 10:47] #128 closed

[2017-11-09 10:49] jeantil commented on #126
Don't worry I got that, just wanted to be thourough. But I have indeed converted my presentation to use code delimiter slides and indented code blocks (so I don't have to explain the backticks :) )

[2017-11-10 00:48] gitpitch commented on #126
Great. Closing issue as resolved. See new [Displaying Markdown within Markdown](https://github.com/gitpitch/gitpitch/wiki/Displaying-Markdown-Within-Markdown) page on the Wiki for details.

[2017-11-10 00:48] #126 closed

[2017-11-10 17:24] alexweissman commented on #121
The issue with relative image links also comes up when [developing and testing locally](https://github.com/gitpitch/gitpitch/wiki/Developing-Testing-Locally).  The docs seem to assume that we will always be running our project directly from the document root, for example:

`http://localhost/#/1`

However, I run all of my web projects in separate subdirectories of my web server's document root.  Fo

[2017-11-13 14:02] utensil opened #129 "Add custom script"
I would like to add custom javascript to my slides for adding other functionalities, for example, call [Reveal.js API](https://github.com/hakimel/reveal.js#api) directly, add [Reveal.js plugins](https://github.com/hakimel/reveal.js/wiki/Plugins,-Tools-and-Hardware), add other rich content renderers like in http://mdp.tylingsoft.com/ .

I've tried adding script tags in PITCHME.md, but it doesn't wo

[2017-11-14 08:45] lexsys27 opened #131 "Shared `PITCHME.yaml`"
I have several presentations in one repo. They are in a separate directory each. Like this:

[code]

All the presentations follow the same format so I want to use a single `PITCHME.yaml` for them. However, simply putting this file to the root directory and linking from the children's doesn't work. Any ideas how to do this?

[code]